@(sourceDatasets: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.SourceDatasetStats], 
	dataSources: List[nl.idgis.publisher.domain.web.DataSource],
	categories: List[nl.idgis.publisher.domain.web.Category],
	currentDataSource: nl.idgis.publisher.domain.web.DataSource,
	currentCategory: nl.idgis.publisher.domain.web.Category,
	search: String,
	withErrors: java.lang.Boolean,
	withNotifications: java.lang.Boolean,
	withDataset: java.lang.Boolean,
	inArchive: java.lang.Boolean,
	orderBy: String
)

@import nl.idgis.publisher.domain._
@import nl.idgis.publisher.domain.web._

@dataSourceLink(ds: DataSource, cls: String = null) = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.listByDataSource(ds.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>
			@ds.name
			<span data-datasource-id="@ds.id" class="pull-right js-datasource-refresh gp-mini-refresh-button" title="@Domain.message("web.application.page.sourcedatasets.list.button.refresh")">
				<span class="glyphicon glyphicon-refresh"></span>
			</span>			
		</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(ds.id, currentCategory.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>
			@ds.name
			<span data-datasource-id="@ds.id" class="pull-right js-datasource-refresh gp-mini-refresh-button" title="@Domain.message("web.application.page.sourcedatasets.list.button.refresh")">
				<span class="glyphicon glyphicon-refresh"></span>
			</span>			
		</a>
	}
}

@dataSourceRefLink(ref: EntityRef, cls: String = null) = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.listByDataSource(ref.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasources.ref"): @ref.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(ref.id, currentCategory.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasources.ref"): @ref.name</a>
	}
}


@allDataSourcesLink() = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.list(search, withErrors, withNotifications, withDataset, inArchive, orderBy)">@Domain.message("web.application.page.datasources.all")</a>
	} else {
		<a href="@routes.DataSources.listByCategory(currentCategory.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)">@Domain.message("web.application.page.datasources.all")</a>
	}
}

@categoryLink(cat: Category, cls: String = null) = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.listByCategory(cat.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)" title=@cat.id @if(cls != null){ class="@cls"}>@cat.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, cat.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)" title=@cat.id @if(cls != null){ class="@cls"}>@cat.name</a>
	}
}

@categoryRefLink(ref: EntityRef, cls: String = null) = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.listByCategory(ref.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasets.list.categorieref"): @ref.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, ref.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasets.list.categorieref"): @ref.name</a>
	}
}

@allCategoriesLink() = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.list(search, withErrors, withNotifications, withDataset, inArchive, orderBy)">@Domain.message("web.application.page.datasets.list.allcategories")</a>
	} else {
		<a href="@routes.DataSources.listByDataSource(currentDataSource.id, search, withErrors, withNotifications, withDataset, inArchive, orderBy)">@Domain.message("web.application.page.datasets.list.allcategories")</a>
	}
}

@pageRefWithFilter(errors: java.lang.Boolean, notifications: java.lang.Boolean, withDataset: java.lang.Boolean, inArchive: java.lang.Boolean, orderBy: String, targetPage: Long = 1) = @{
	if(currentCategory == null)
		if(currentDataSource == null)
			routes.DataSources.list(search, errors, notifications, withDataset, inArchive, orderBy, targetPage)
		else
			routes.DataSources.listByDataSource(currentDataSource.id, search, errors, notifications, withDataset, inArchive, orderBy, targetPage) 
	else
		if(currentDataSource == null)
			routes.DataSources.listByCategory(currentCategory.id, search, errors, notifications, withDataset, inArchive, orderBy, targetPage)
		else
			routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, currentCategory.id, search, errors, notifications, withDataset, inArchive, orderBy, targetPage)
}

@pageRef(targetPage: Long = 1) = @{
	pageRefWithFilter(withErrors, withNotifications, withDataset, inArchive, orderBy, targetPage)
}

@layout.application(
	title = Domain.message("web.application.page.sourcedatasets.title"),
	jsMain = routes.Assets.at("js/datasources/main.js").url,
	docPath = "datasources/list"
) {
	<div class="page-content">
		<h1 class="page-header">@Domain.message("web.application.page.sourcedatasets.title")</h1>
		
		<div class="row">
		
			@* Filters: *@
			<div class="col-lg-3 col-lg-push-9">
				
				<form class="form-horizontal" role="form" method="GET" action="@pageRef()">
					@* Refresh source datasets button: *@
					<div class="form-group">
						<div class="col-sm-12" id="js-datasource-refresh-data"
							data-refresh-success="@Domain.message("web.application.page.sourcedatasets.list.button.refresh.success")"
							data-refresh-failure="@Domain.message("web.application.page.sourcedatasets.list.button.refresh.failure")">
							<a href="#" class="btn btn-success js-datasource-refresh col-sm-12" title="@Domain.message("web.application.page.sourcedatasets.list.button.refresh")"><span class="js-icon glyphicon glyphicon-refresh"></span> @Domain.message("web.application.page.sourcedatasets.list.button.refresh")</a>
						</div>
					</div>
				
					@* Search source_dataset input: *@
					<div class="form-group has-feedback">
						<div class="col-sm-12">
							<input type="text" class="form-control col-sm-12" id="searchString" name="q" placeholder="@Domain.message("web.application.page.sourcedatasets.list.search.placeholder")"@if(search != null){ value="@search"}>
							@if(withErrors != null) {
								<input type="hidden" name="withErrors" value="@withErrors">
							}
							<button class="btn btn-link form-control-feedback" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
					
				</form>
				
				<div class="panel-group" id="filters-accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse-sort-source-datasets">
									@Domain.message("web.application.page.datasources.sort.label")
								</a>
							</h4>
						</div>
						<div id="collapse-sort-source-datasets" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(orderBy != "PHYSICAL_NAME"){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, withDataset, inArchive, "TITLE").url">@Domain.message("web.application.page.datasources.sort.title")</a></li>
									<li@if(orderBy == "PHYSICAL_NAME"){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, withDataset, inArchive, "PHYSICAL_NAME").url">@Domain.message("web.application.page.datasources.sort.physicalname")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-datasources">
									@Domain.message("web.application.page.datasources.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-datasources" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(currentDataSource == null){ class="active"}>@allDataSourcesLink()</li>
									@for(dataSource <- dataSources) {
										<li@if(dataSource.equals(currentDataSource)){ class="active"}>
											@dataSourceLink(dataSource)
										</li>
									}
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-withdataset">
									@Domain.message("web.application.page.sourcedatasets.list.withdataset.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-withdataset" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(withDataset == null){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, null, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.withdataset.both")</a></li>
									<li@if(withDataset != null && !withDataset){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, false, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.withdataset.without")</a></li>
									<li@if(withDataset != null && withDataset){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, true, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.withdataset.with")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-inarchive">
									@Domain.message("web.application.page.sourcedatasets.list.inarchive.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-inarchive" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(inArchive == null){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, withDataset, null, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.inarchive.both")</a></li>
									<li@if(inArchive != null && !inArchive){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, withDataset, false, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.inarchive.false")</a></li>
									<li@if(inArchive != null && inArchive){ class="active"}><a href="@pageRefWithFilter(withErrors, withNotifications, withDataset, true, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.inarchive.true")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-errors">
									@Domain.message("web.application.page.sourcedatasets.list.errorsTitle")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-errors" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(withErrors == null){ class="active"}><a href="@pageRefWithFilter(null, withNotifications, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.errorsBoth")</a></li>
									<li@if(withErrors != null && !withErrors){ class="active"}><a href="@pageRefWithFilter(false, withNotifications, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.errorsWithout")</a></li>
									<li@if(withErrors != null && withErrors){ class="active"}><a href="@pageRefWithFilter(true, withNotifications, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.errorsWith")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-notifications">
									@Domain.message("web.application.page.sourcedatasets.list.notificationsTitle")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-notifications" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(withNotifications == null){ class="active"}><a href="@pageRefWithFilter(withErrors, null, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.notificationsBoth")</a></li>
									<li@if(withNotifications != null && !withNotifications){ class="active"}><a href="@pageRefWithFilter(withErrors, false, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.notificationsWithout")</a></li>
									<li@if(withNotifications != null && withNotifications){ class="active"}><a href="@pageRefWithFilter(withErrors, true, withDataset, inArchive, orderBy).url">@Domain.message("web.application.page.sourcedatasets.list.notificationsWith")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-categories">
									@Domain.message("web.application.page.datasets.list.filtercategorie.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-categories" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(currentCategory == null){ class="active"}>@allCategoriesLink()</li>
									@for(category <- categories) {
										<li@if(category.equals(currentCategory)){ class="active"}>@categoryLink(category)</li>
									}
								</ul>
							</div>
						</div>
					</div>
				
				</div>
			</div>
			
			@* List of sourceDatasets: *@
			<div class="col-lg-9 col-lg-pull-3">
				@if(sourceDatasets.values.isEmpty) {
					<div class="alert alert-info">
						@Domain.message("web.application.page.sourcedatasets.list.alert.nosourcedatasets") 
						@Domain.message("web.application.page.sourcedatasets.list.alert.adapt") <a href="@routes.DataSources.list()">@Domain.message("web.application.page.sourcedatasets.list.alert.show")</a>.
					</div>
				} else {
					@* Download button and pagination in same row *@
					<div class="row">
						<div class="col-md-8">@helper.pagination(sourceDatasets, pageRef)</div>
						<div class="col-md-4 text-right">
							<div class="row">
								<form class="form-horizontal" action="@routes.DataSources.download()" method="get">
									@if(search != null) {
										<input type="hidden" name="searchString" value="@search">
									}
									@if(withErrors != null) {
										<input type="hidden" name="withErrors" value="@withErrors">
									}
								
									<button 
										class="btn btn-info" 
										title="@Domain.message("web.application.page.sourcedatasets.list.csv.button")" type="submit">
										@Domain.message("web.application.page.sourcedatasets.list.csv.button.text")&nbsp;&nbsp;<span class="glyphicon glyphicon-download-alt"></span></button>
									
									<div>
										<a id="cvs-options-show" href="#">
											<span>@Domain.message("web.application.page.sourcedatasets.list.csv.options.show")</span>
										</a>
										<span>&nbsp;</span>
									</div>
									
									<div id="csv-options" class="hide">
										<div class="form-group">
											<label class="col-sm-7 control-label" for="quote">@Domain.message("web.application.page.sourcedatasets.list.csv.quote")</label>
											<div class="col-sm-5">
												<select class="form-control" id="quote" name="quote">
													<option>"</option>
													<option>'</option>
												</select>
											</div>
										</div>
											
										<div class="form-group">
											<label class="col-sm-7 control-label" for="separator">@Domain.message("web.application.page.sourcedatasets.list.csv.separator")</label>
											<div class="col-sm-5">
												<select class="form-control" id="separator" name="separator">
													<option>;</option>
													<option>,</option>
													<option value=" ">@Domain.message("web.application.page.sourcedatasets.list.csv.separator.space")</option>
												</select>
											</div>							
										</div>
											
										<div class="form-group">
											<label class="col-sm-7 control-label" for="encoding">@Domain.message("web.application.page.sourcedatasets.list.csv.encoding")</label>
											<div class="col-sm-5">
												<select class="form-control" id="encoding" name="encoding">
													<option>iso-8859-1</option>
													<option>utf-8</option>
												</select>
											</div>
										</div>
										
										<a id="cvs-options-hide" href="#">
											<span>@Domain.message("web.application.page.sourcedatasets.list.csv.options.hide")</span>
										</a>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="list-group">
						@for(dataset <- sourceDatasets.values) {
							<div class="list-group-item@if(dataset.sourceDataset.`type` == SourceDatasetType.UNAVAILABLE || dataset.sourceDataset.deleted){ list-group-item-warning}">
								<div class="row">
									<div class="col-md-5">
										<h4 class="list-group-item-heading">
											<a href="@routes.DataSources.get(dataset.sourceDataset.id)" class="app-list-item">
												@dataset.sourceDataset.name
											</a>
										</h4>
										@if(dataset.sourceDataset.physicalName != null) {
											<h6>@dataset.sourceDataset.physicalName</h6>
										}
										@if(dataset.sourceDataset.category != null) {
											@categoryRefLink(dataset.sourceDataset.category, "label label-info")
										} else {
											<span class="label label-default">@Domain.message("web.application.page.datasets.list.nocategory")</span>
										}
										@dataSourceRefLink(dataset.sourceDataset.dataSource, "label label-info")
										@if(dataset.sourceDataset.confidential) {
											<span class="label label-warning">@Domain.message("web.application.page.sourcedatasets.list.confidential")</span>
										}
										@if(dataset.sourceDataset.wmsOnly) {
											<span class="label label-warning">@Domain.message("web.application.page.sourcedatasets.list.wmsonly")</span>
										}
										@if(dataset.sourceDataset.archived) {
											<span class="label label-warning">@Domain.message("web.application.page.sourcedatasets.list.archived")</span>
										}
									</div>
									<div class="col-md-5">
										@sourceDatasetDetails(dataset)
									</div>									
									<div class="col-md-2 text-right">
										<div class="btn-group pull-right">
											<a class="btn btn-default" href="@routes.Metadata.sourceDataset(dataset.sourceDataset.id)" title="@Domain.message("web.application.page.sourcedatasets.list.button.metadata")" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
											@if(dataset.sourceDataset.`type` != SourceDatasetType.UNAVAILABLE && !dataset.sourceDataset.deleted && dataset.sourceDataset.category != null) {
												<a class="btn btn-success" href="@routes.Datasets.createFormForSourceDataset(dataset.sourceDataset.id)" title="@Domain.message("web.application.page.sourcedatasets.list.button.newdataset")"><span class="glyphicon glyphicon-plus"></span></a>
											} else {
												<a class="btn btn-success" disabled="disabled"><span class="glyphicon glyphicon-plus"></span></a>
											}
										</div>
									</div>
								</div>
							</div>
						}
					
					</div>
					
					@helper.pagination(sourceDatasets, pageRef)
				}
			</div>			
				
		</div>
	</div>
}
