@(sourceDatasets: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.SourceDatasetStats], 
	dataSources: List[nl.idgis.publisher.domain.web.DataSource],
	categories: List[nl.idgis.publisher.domain.web.Category],
	currentDataSource: nl.idgis.publisher.domain.web.DataSource,
	currentCategory: nl.idgis.publisher.domain.web.Category,
	search: String,
	withErrors: java.lang.Boolean
)

@import nl.idgis.publisher.domain._
@import nl.idgis.publisher.domain.web._

@dataSourceLink(ds: DataSource, cls: String = null) = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.listByDataSource(ds.id, search, withErrors)"@if(cls != null){ class="@cls"}>@ds.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(ds.id, currentCategory.id, search, withErrors)"@if(cls != null){ class="@cls"}>@ds.name</a>
	}
}

@dataSourceRefLink(ref: EntityRef, cls: String = null) = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.listByDataSource(ref.id, search, withErrors)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasources.ref"): @ref.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(ref.id, currentCategory.id, search, withErrors)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasources.ref"): @ref.name</a>
	}
}


@allDataSourcesLink() = {
	@if(currentCategory == null) {
		<a href="@routes.DataSources.list(search, withErrors)">@Domain.message("web.application.page.datasources.all")</a>
	} else {
		<a href="@routes.DataSources.listByCategory(currentCategory.id, search, withErrors)">@Domain.message("web.application.page.datasources.all")</a>
	}
}

@categoryLink(cat: Category, cls: String = null) = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.listByCategory(cat.id, search, withErrors)"@if(cls != null){ class="@cls"}>@cat.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, cat.id, search, withErrors)"@if(cls != null){ class="@cls"}>@cat.name</a>
	}
}

@categoryRefLink(ref: EntityRef, cls: String = null) = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.listByCategory(ref.id, search, withErrors)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasets.list.categorieref"): @ref.name</a>
	} else {
		<a href="@routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, ref.id, search, withErrors)"@if(cls != null){ class="@cls"}>@Domain.message("web.application.page.datasets.list.categorieref"): @ref.name</a>
	}
}

@allCategoriesLink() = {
	@if(currentDataSource == null) {
		<a href="@routes.DataSources.list(search, withErrors)">@Domain.message("web.application.page.datasets.list.allcategories")</a>
	} else {
		<a href="@routes.DataSources.listByDataSource(currentDataSource.id, search, withErrors)">@Domain.message("web.application.page.datasets.list.allcategories")</a>
	}
}

@pageRefWithErrors(errors: java.lang.Boolean, targetPage: Long = 1) = @{
	if(currentCategory == null)
		if(currentDataSource == null)
			routes.DataSources.list(search, errors, targetPage)
		else
			routes.DataSources.listByDataSource(currentDataSource.id, search, errors, targetPage) 
	else
		if(currentDataSource == null)
			routes.DataSources.listByCategory(currentCategory.id, search, errors, targetPage)
		else
			routes.DataSources.listByDataSourceAndCategory(currentDataSource.id, currentCategory.id, search, errors, targetPage)
}

@pageRef(targetPage: Long = 1) = @{
	pageRefWithErrors(withErrors, targetPage)	  
}

@layout.application(
	title = Domain.message("web.application.page.sourcedatasets.title"),
	jsMain = routes.Assets.at("js/datasources/main.js").url
) {
	<div class="page-content">
		<h1 class="page-header">@Domain.message("web.application.page.sourcedatasets.title")</h1>
		
		<div class="row">
		
			@* Filters: *@
			<div class="col-lg-3 col-lg-push-9">
				<form class="form-horizontal" role="form" method="GET" action="@pageRef()">
					@* Search source_dataset input: *@
					<div class="form-group has-feedback">
						<div class="col-sm-12">
							<input type="text" class="form-control col-sm-12" id="searchString" name="q" placeholder="@Domain.message("web.application.page.sourcedatasets.list.search.placeholder")"@if(search != null){ value="@search"}>
							@if(withErrors != null) {
								<input type="hidden" name="withErrors" value="@withErrors">
							}
							<button class="btn btn-link form-control-feedback" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
					
				</form>
				
				<div class="panel-group" id="filters-accordion">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-datasources">
									@Domain.message("web.application.page.datasources.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-datasources" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(currentDataSource == null){ class="active"}>@allDataSourcesLink()</li>
									@for(dataSource <- dataSources) {
										<li@if(dataSource.equals(currentDataSource)){ class="active"}>@dataSourceLink(dataSource)</li>
									}
								</ul>
							</div>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-errors">
									@Domain.message("web.application.page.sourcedatasets.list.errorsTitle")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-errors" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(withErrors == null){ class="active"}><a href="@pageRefWithErrors(null).url">@Domain.message("web.application.page.sourcedatasets.list.errorsBoth")</a></li>
									<li@if(withErrors != null && !withErrors){ class="active"}><a href="@pageRefWithErrors(false).url">@Domain.message("web.application.page.sourcedatasets.list.errorsWithout")</a></li>
									<li@if(withErrors != null && withErrors){ class="active"}><a href="@pageRefWithErrors(true).url">@Domain.message("web.application.page.sourcedatasets.list.errorsWith")</a></li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-categories">
									@Domain.message("web.application.page.datasets.list.filtercategorie.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-categories" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(currentCategory == null){ class="active"}>@allCategoriesLink()</li>
									@for(category <- categories) {
										<li@if(category.equals(currentCategory)){ class="active"}>@categoryLink(category)</li>
									}
								</ul>
							</div>
						</div>
					</div>
				
				</div>
			</div>
			
			@* List of sourceDatasets: *@
			<div class="col-lg-9 col-lg-pull-3">
				@if(sourceDatasets.values.isEmpty) {
					<div class="alert alert-info">
						@Domain.message("web.application.page.sourcedatasets.list.alert.nosourcedatasets") 
						@Domain.message("web.application.page.sourcedatasets.list.alert.adapt") <a href="@routes.DataSources.list()">@Domain.message("web.application.page.sourcedatasets.list.alert.show")</a>.
					</div>
				} else {
					@* Download button and pagination in same row *@
					<div class="row">
						<div class="col-md-10">@helper.pagination(sourceDatasets, pageRef)</div>
						<div class="col-md-2 text-right">
							<a class="btn btn-info"
								href="@routes.DataSources.download(search,withErrors)"
								title="@Domain.message("web.application.page.sourcedatasets.list.button.download")">
								Download csv&nbsp;&nbsp;<span class="glyphicon glyphicon-download-alt"></span> </a>
						</div>
					</div>

					<div class="list-group">
						@for(dataset <- sourceDatasets.values) {
							<div class="list-group-item@if(dataset.sourceDataset.`type` == SourceDatasetType.UNAVAILABLE){ list-group-item-warning}">
								<div class="row">
									<div class="col-md-5">
										<h4 class="list-group-item-heading">@dataset.sourceDataset.name</h4>
										@categoryRefLink(dataset.sourceDataset.category, "label label-info")
										@dataSourceRefLink(dataset.sourceDataset.dataSource, "label label-info")
									</div>
									<div class="col-md-5">
										@sourceDatasetDetails(dataset)
									</div>
									<div class="col-md-2 text-right">
										@if(dataset.sourceDataset.`type` != SourceDatasetType.UNAVAILABLE) {
											<a class="btn btn-success" href="@routes.Datasets.createFormForSourceDataset(dataset.sourceDataset.id)" title="@Domain.message("web.application.page.sourcedatasets.list.button.newdataset")"><span class="glyphicon glyphicon-plus"></span></a>
										}
									</div>
								</div>
							</div>
						}
					
					</div>
					
					@helper.pagination(sourceDatasets, pageRef)
				}
			</div>			
				
		</div>
	</div>
}
