@(styleForm: Form[controllers.Styles.StyleForm], createStyle:Boolean)

@import nl.idgis.publisher.domain.web._ 

@styleId = @{styleForm("id").value()}

@layout.application( title="Stijl toevoegen: "+ styleForm("name") ){

<div class="page-content">
	<h1 class="page-header">@if(createStyle){Nieuwe stijl}else{Bewerk stijl: @styleForm("name").value}</h1>
	
	<div class="row">
		<div class="col-lg-12">
			<div style="margin:20px 0px">
				<h1 class="page-header">Gemeentelijke bossen</h1>
			</div>
			
			<form class="form-horizontal" method="get" action="Lagen.html">
				<div class="form-group">
					<label class="col-sm-2 control-label">Dataset</label>
					<div class="col-sm-8">
						<input class="form-control" value="Gemeentelijke bossen" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Naam</label>
					<div class="col-sm-8">
						<input class="form-control" value="Gemeentelijke bossen" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Titel</label>
					<div class="col-sm-8">
						<input class="form-control" value="Gemeentelijke bossen">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Samenvatting</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows="4">Een weergave van de bossen onder gemeentelijk beheer.</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Trefwoorden</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows="4">Bos</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Publiceren</label>
					<div class="col-sm-1">
						<input type="checkbox" checked>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Zit in de groep(en)</label>
					<div class="col-sm-8">
						<span>Bos</span>
					</div>
				</div>
				<div id="stijlen">
					<div class="form-group">
						<label class="col-sm-2 control-label">Gebruikt de stijl(en)</label>
						<div class="col-sm-4">
							<!-- <span>Groen, Bos</span>  -->
							<select class="form-control">
								<option>Groen</option>
								<option selected>Bos</option>
								<option>Blauw</option>
								<option>Water</option>
								<option>Natuur</option>
							</select>
						</div>
						<div class="col-sm-1">
							<button class="btn btn-default btn-sm" type="button" onclick="extra(event)">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-success" type="submit">Opslaan</button>
							<button class="btn btn-success" type="submit">Annuleren</button>
							<button class="btn btn-success" type="button" onclick="preview()">Preview</button>
							<button class="btn btn-success" type="button" onclick="tiledGBos()">Tiling eigenschappen</button>
						</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
}