@(layerForm: Form[controllers.Layers.LayerForm], create: Boolean
, allStyles: java.util.List[nl.idgis.publisher.domain.web.Style]
, layerStyles: java.util.List[nl.idgis.publisher.domain.web.Style])

@import nl.idgis.publisher.domain.web._ 
@layout.application( 
	title=Domain.message("web.application.page.layers.form.title"),
	jsMain = routes.Assets.at("js/layers/form.js").url
	
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.layers.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.layers.form.header.edit", layerForm("name").value) </h1>
	}

	@helper.formerrors(layerForm, Domain.message("web.application.page.layers.name").toLowerCase())	

	
	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Layers.submitCreateUpdate()">
				<input type="hidden" class="form-control" id="input-id" name="id" value="@layerForm("id").value" >
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-dataset">@Domain.message("web.application.page.layers.form.field.dataset.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-dataset" name="dataset" value="@layerForm("name").value" readonly>
						@helper.fielderrors(layerForm("name").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.dataset.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-name">@Domain.message("web.application.page.layers.form.field.name.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-name" name="name" placeholder="@Domain.message("web.application.page.layers.form.field.name.placeholder")" value="@layerForm("name").value" @if(!create){readonly}>
						@helper.fielderrors(layerForm("name").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.name.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-title">@Domain.message("web.application.page.layers.form.field.title.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-title" name="title" placeholder="@Domain.message("web.application.page.layers.form.field.title.placeholder")" value="@layerForm("title").value">
						@helper.fielderrors(layerForm("title").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.title.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-abstractText">@Domain.message("web.application.page.layers.form.field.abstract.label")</label>
					<div class="col-lg-8">
						<textarea class="form-control" id="input-abstractText" name="abstractText" placeholder="@Domain.message("web.application.page.layers.form.field.abstract.placeholder")" value="@layerForm("abstractText").value" rows="4"></textarea>
						@helper.fielderrors(layerForm("abstractText").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.abstract.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-keywords">@Domain.message("web.application.page.layers.form.field.keywords.label")</label>
					<div class="col-lg-8">
						<textarea class="form-control" id="input-keywords" name="keywords" placeholder="@Domain.message("web.application.page.layers.form.field.keywords.placeholder")" value="@layerForm("keywords").value" rows="2"></textarea>
						@helper.fielderrors(layerForm("keywords").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.keywords.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-publish">@Domain.message("web.application.page.layers.form.field.publish.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-publish" name="publish" value="@layerForm("publish").value">
						</div>
						@helper.fielderrors(layerForm("publish").errors)
						<span class="help-block">@Domain.message("web.application.page.layers.form.field.publish.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.layers.form.field.groups.label")</label>
					<div class="col-sm-8">
						<span></span>
					</div>
				</div>
				
				<!-- 
				@for(layerstyle <- layerStyles) {
					<div class="form-group" id="style">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.layers.form.field.styles.label")</label>
						<div class="col-sm-4">
							<label>layerstyle.name</label>
						</div>
					</div>
				}
				 -->
				
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.layers.form.field.styles.label")</label>
					<div class="controls col-sm-8">
						<div class="gp-tree-select stylelistscroll form-control" id="test-control">
							<input type="hidden" name="styles">
						</div>

						<div class="gp-tree-values dropdown">
							<div class="dropdown-menu">
								<ul>
									@for(style <- allStyles) {
										<li>
											<a href="#" data-id="@style.id" data-label="@style.name">
												<span class="glyphicon glyphicon-tag"></span>
												@style.name
											</a>
										</li>
									}
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Layers.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
						<button class="btn btn-success" type="button">@Domain.message("web.application.button.preview")</button>
						<button class="btn btn-success" type="button">@Domain.message("web.application.button.tilingproperties")</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}