@(layerForm: Form[controllers.Layers.LayerForm],
 create: Boolean,
 allStyles: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Style],
 layerStyleListString: java.lang.String,
 previewUrl: java.lang.String)

@implicitField = @{ helper.FieldConstructor(helper.bootstrap.bootstrapFieldConstructor.f) }


@import nl.idgis.publisher.domain.web._ 
@layout.application( 
	title=Domain.message("web.application.page.layers.form.title"),
	jsMain = routes.Assets.at("js/layers/form.js").url,
	docPath = "layers/form"
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.layers.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.layers.form.header.edit", layerForm("name").value) </h1>
	}

	@helper.formerrors(layerForm, Domain.message("web.application.page.layers.name").toLowerCase())	

	
	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Layers.submitCreateUpdate()">
				<input type="hidden" class="form-control" id="input-id" name="id" value="@layerForm("id").value" >
				<input type="hidden" value="@layerForm("datasetId").value" name="datasetId">
				
				@helper.inputText(
					layerForm("datasetName"),
					'_label -> Domain.message("web.application.page.layers.form.field.dataset.label"),
					'id -> "input-dataset",
					'class -> "form-control",
					'_help -> Domain.message("web.application.page.layers.form.field.dataset.help"),
					'readonly -> "readonly"
				)

				@if(create) {
					@helper.inputText(
						layerForm("name"),
						'_label -> Domain.message("web.application.page.layers.form.field.name.label"),
						'id -> "input-name",
						'placeholder -> Domain.message("web.application.page.layers.form.field.name.placeholder"),
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.layers.form.field.name.help"),
						'_required -> true
					)
				} else {
					@helper.inputText(
						layerForm("name"),
						'_label -> Domain.message("web.application.page.layers.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.layers.form.field.name.help"),
						'readonly -> "readonly"
					)
				}

				@helper.inputText(
					layerForm("title"),
					'_label -> Domain.message("web.application.page.layers.form.field.title.label"),
					'id -> "input-title",
					'placeholder -> Domain.message("web.application.page.layers.form.field.title.placeholder"),
					'class -> "form-control",
					'_help -> Domain.message("web.application.page.layers.form.field.title.help")
				)

				@helper.textarea(
					layerForm("abstractText"),
					'_label -> Domain.message("web.application.page.layers.form.field.abstract.label"),
					'id -> "input-abstractText",
					'placeholder -> Domain.message("web.application.page.layers.form.field.abstract.placeholder"),
					'class -> "form-control",
					'_help -> Domain.message ("web.application.page.layers.form.field.abstract.help")
				)
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-keyword">@Domain.message("web.application.page.layers.form.field.keywords.label")</label>
					<div class="col-lg-8">
						
						<div class="form-inline">
							<div class="form-group col-lg-8">
								<input class="form-control" id="input-keyword" name="keyword" placeholder="@Domain.message("web.application.page.layers.form.field.keywords.placeholder")">
								<a class="btn btn-default btn-sm" id="add-keyword">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
							</div>
						</div>
						@helper.fielderrors(layerForm("keywords").errors)
					</div>
					@helper.tooltips("web.application.page.layers.form.field.keywords.help")
					<div class="col-sm-offset-2 col-lg-8">
						<div class="keyword-list" id="keyword-list">
							@helper.repeat(layerForm("keywords"), min = 0) { keywordField =>
								<div class="keyword-item-block" value="@keywordField.value">
									<input class="form-control" type="hidden" name="keywords[]" value="@keywordField.value">
									<span class="keyword-item label label-primary">@keywordField.value
										<button type="button" aria-hidden="true" class="close" value="@keywordField.value">&times;</button>
									</span>
								</div>
							}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-published">@Domain.message("web.application.page.layers.form.field.publish.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm checkbox-fix">
							<input type="checkbox" id="input-published" name="published" value="true" @if("true".equals (layerForm("published").value)){checked}>
						</div>
						@helper.fielderrors(layerForm("publish").errors)
					</div>
					@helper.tooltips("web.application.page.layers.form.field.publish.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.layers.form.field.groups.label")</label>
					<div class="col-sm-8">
						<span>-</span>
					</div>
				</div>
						
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.layers.form.field.styles.label")</label>
					<div class="controls col-sm-9">
						<div class="input-group">
							<div class="gp-tree-select form-control" id="test-control">
								<input type="hidden" name="styles" value="@layerStyleListString">
							</div>
		    				@helper.requiredFormAddon()
							@helper.helpFormAddon(Domain.message("web.application.page.layers.form.field.styles.help"))
						</div>
						<div class="gp-tree-values dropdown">
							<div class="js-pager">
								@styles.stylePager(allStyles)
							</div>
						</div>
						@helper.fielderrors(layerForm("styles").errors)
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-enable">@Domain.message("web.application.page.tiledlayers.form.field.enabled.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm checkbox-fix">
							<input type="checkbox" id="input-enable" name="enabled" value="true" @if("true".equals(layerForm("enabled").value)){checked}>
						</div>
						@helper.fielderrors(layerForm("enabled").errors)
					</div>
					@helper.tooltips("web.application.page.tiledlayers.form.field.enabled.help")
				</div>
				<div id="js-tiled-form">
					@tiledlayers.tiledLayerBody(layerForm)
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Layers.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
						@helper.preview(previewUrl)
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}
