@(layers: nl.idgis.publisher.domain.response.Page[_ <: nl.idgis.publisher.domain.web.Selectable])

@if(layers.values.isEmpty) {
	<div class="alert alert-info">
		@Domain.message("web.application.page.layers.list.empty")
	</div>
} else {
	<div class="list-group">
		@for(layer <- layers.values) {
			<a href="@routes.Layers.edit(layer.id)" class="list-group-item" data-id="@layer.id" data-label="@layer.name">
				<div class="row">
					<div class="col-lg-9">
						@layer.name
					</div>
					<div class="col-lg-3">
						@if(layer.confidential) {
							<span class="label label-warning">@Domain.message("web.application.page.layers.list.confidential")</span>
						}
						@if(layer.wmsOnly) {
							<span class="label label-warning">@Domain.message("web.application.page.layers.list.wmsonly")</span>
						}
					</div>
				</div>
			</a>
		}
	</div>
}
