@import nl.idgis.publisher.domain.web._ 
@layout.application( title = "Layers list" ) {

<div class="page-content">
		<h1 class="page-header">Lagen</h1>
		<div class="row">
						<div class="col-lg-3 col-lg-push-9">
							<div class="panel-group" id="filters-accordion"></div>
						</div>
						<div class="col-lg-9 col-lg-pull-3">
							<div class="list-group" id="dataset-list">
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="@routes.Styles.list()" class="text-warning">Provinciale bossen</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="P_bossen.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="G_bossen.html" class="text-warning">Gemeentelijke bossen</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="G_bossen.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="Meren.html" class="text-warning">Meren</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="Meren.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="Rivieren.html" class="text-warning">Rivieren</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="Rivieren.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="Zeeen.html" class="text-warning">Zeeën</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="Zeeen.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="list-group-item js-dataset-item" data-dataset-id="Aardgastransportleidingen_test" data-dataset-name="Aardgastransportleidingen_test">
									<div class="row">
										<div class="col-md-5">
											<h4 class="list-group-item-heading">
												<a href="PriveNatuur.html" class="text-warning">Prive natuurgebieden</a>
											</h4>
										</div>
										<div class="col-md-2">
											<div class="status js-status">
												<div class="service-status">
													<span class="text-success">
														<strong>Gepubliceerd</strong>
			 										</span>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="status js-status">
												<div class="service-status">
													<a class="text-success">
														<strong>Gekoppeld aan dataset</strong>
			 										</a>
												</div>
											</div>
										</div>
										<div class="col-md-2">
											<div class="btn-group pull-right">
												<a href="PriveNatuur.html" class="btn btn-default" title=Bewerken>
													<span class="glyphicon glyphicon-edit"></span>
												</a>
												<a class="btn btn-warning disabled" title=Verwijderen>
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	
</div>
}
