@(issues: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue], logLevels: Set[nl.idgis.publisher.domain.job.LogLevel])

@import nl.idgis.publisher.domain.job.LogLevel
@import nl.idgis.publisher.domain.MessageProperties
@import nl.idgis.publisher.domain.web._


@logLevelLink(logLevel: LogLevel) = {
	@if(logLevels.contains(logLevel)) {
		@if(logLevels.size == 1) {
			<a class="disabled" href="@routes.Logging.messagesWithFilter(controllers.Logging.logLevels(logLevels), issues.currentPage)"><span class="glyphicon glyphicon-check"></span> @logLevelTitle(logLevel) <span class="pull-right @logLevelClass(logLevel)"><span class="@logLevelIcon(logLevel)"></span></span></a>
		} else {
			<a href="@routes.Logging.messagesWithFilter(controllers.Logging.logLevelsWithout(logLevels, logLevel), 1)"><span class="glyphicon glyphicon-check"></span> @logLevelTitle(logLevel) <span class="pull-right @logLevelClass(logLevel)"><span class="@logLevelIcon(logLevel)"></span></span></a>
		}
	} else {
		<a href="@routes.Logging.messagesWithFilter(controllers.Logging.logLevelsWith(logLevels, logLevel), 1)"><span class="glyphicon glyphicon-unchecked"></span> @logLevelTitle(logLevel) <span class="pull-right @logLevelClass(logLevel)"><span class="@logLevelIcon(logLevel)"></span></span></a>
	}
}

@pageRef(targetPage: Long) = @{
	routes.Logging.messagesWithFilter (controllers.Logging.logLevels(logLevels), targetPage)	  
}

@logLevelIcon(logLevel: LogLevel) = @{
	logLevel match {
	case LogLevel.DEBUG => "glyphicon glyphicon-wrench"
	case LogLevel.INFO => "glyphicon glyphicon-bullhorn"
	case LogLevel.ERROR => "glyphicon glyphicon-remove-sign"
	case LogLevel.WARNING => "glyphicon glyphicon-warning-sign"
	}
}

@logLevelClass(logLevel: LogLevel) = @{
	logLevel match {
	case LogLevel.DEBUG => "text-info"
	case LogLevel.INFO => "text-info"
	case LogLevel.ERROR => "text-danger"
	case LogLevel.WARNING => "text-warning"
	}
}

@logLevelTitle(logLevel: LogLevel) = @{
	logLevel match {
	case LogLevel.DEBUG => Domain.message("web.application.loglevel.title.DEBUG")
	case LogLevel.INFO => Domain.message("web.application.loglevel.title.INFO")
	case LogLevel.ERROR => Domain.message("web.application.loglevel.title.ERROR")
	case LogLevel.WARNING => Domain.message("web.application.loglevel.title.WARNING")
	}
}

@layout.application(
	title = Domain.message("web.application.log.messages.title"),
	jsMain = routes.Assets.at("js/logging/main.js").url,
	docPath = "logging/messages"
) {
	<div class="page-content">
		<h1 class="page-header">@Domain.message("web.application.log.messages.header")</h1>
		
		<div class="row hidden" id="new-issues-hint">
			<div class="col-lg-offset-3 col-lg-6">
				<p class="alert alert-warning">
					<strong>@Domain.message("web.application.log.messages.alert.header")</strong>
					@Domain.message("web.application.log.messages.alert.text")
					<a href="@routes.Logging.messagesWithFilter("error", 1)">@Domain.message("web.application.log.messages.alert.ref")</a>
				</p>
			</div>
		</div>
		
		<div class="row">
			
			@* Filters: *@
			<div class="col-lg-3 col-lg-push-9">
				<div class="panel-group" id="filters-accordion">
				
					@* Loglevel: *@
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-loglevel">
									@Domain.message("web.application.log.messages.loglevel.header")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-loglevel" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li>@logLevelLink(LogLevel.ERROR)</li>
									<li>@logLevelLink(LogLevel.WARNING)</li>
									<li>@logLevelLink(LogLevel.INFO)</li>
									<li>@logLevelLink(LogLevel.DEBUG)</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
			@* List of log messages: *@
			<div class="col-lg-9 col-lg-pull-3">
				@if(issues.values.isEmpty) {
					<div class="alert alert-info">
						@Domain.message("web.application.log.messages.list.alert.noissues")
						@Domain.message("web.application.log.messages.list.alert.adapt")
						<a href="@routes.Logging.messages()">@Domain.message("web.application.log.messages.list.alert.show")</a>.
					</div>
				} else {
					@helper.pagination(issues, pageRef)
					<div class="list-group">
					@for(issue <- issues.values) {
						<div class="list-group-item">
							<div class="row">
								<div class="col-lg-1">
									<abbr class="h1 abbr-icon @logLevelClass(issue.logLevel)" title="@logLevelTitle(issue.logLevel)">
										<span class="@logLevelIcon(issue.logLevel)"></span>
									</abbr>
								</div>
								<div class="col-lg-11">
									<div class="row">
										<div class="col-lg-12">
											<h4 class="list-group-item-heading">@Domain.message(issue.message)</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4 text-muted">
											@{new org.joda.time.LocalDateTime(issue.when.getTime(), org.joda.time.DateTimeZone.forID("CET")).toString("dd-MM-yyyy HH:mm:ss")}
										</div>
										<div class="col-lg-8 text-muted">
											@if(issue.message.properties != null) {
												@helper.entityReference(issue.message.properties)
											}
										</div>
									</div>
								</div>
							</div>
						</div>
					}
					</div>
					@helper.pagination(issues, pageRef)
				} 
			</div>
			
		</div>
	</div>
}