<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <!-- Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern -->
      <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <!-- 
  	<logger name="nl.idgis.publisher.dataset" level="debug"/>
  -->
 
   <!-- 
  	<logger name="nl.idgis.publisher.admin" level="debug"/>
  -->

  <!-- 
  	<logger name="nl.idgis.publisher.admin.JobCreator" level="debug"/>
   -->
  
  <!-- 
  	<logger name="nl.idgis.publisher.admin.ServiceAdmin" level="debug"/>
   -->
   
  <!-- 
  	<logger name="nl.idgis.publisher.admin.LayerAdmin" level="debug"/>
   -->
   
  <!--
  	<logger name="nl.idgis.publisher.admin.LayerGroupAdmin" level="debug"/>
   -->
   
  <!--
  	<logger name="nl.idgis.publisher.admin.StyleAdmin" level="debug"/>
   -->
   
  <!--  	
  	<logger name="nl.idgis.publisher.admin.TiledLayerAdmin" level="debug"/>
   -->
   
  <!--  
  	<logger name="nl.idgis.publisher.metadata.MetadataGenerator" level="debug"/>
  -->
  
  <!--  
  	<logger name="nl.idgis.publisher.ServiceApp" level="debug"/>
   -->

   <!--
    <logger name="nl.idgis.publisher.service" level="debug"/>
  -->

   <!-- 
    <logger name="nl.idgis.publisher.service.geoserver.GeoServerService" level="debug"/>
   -->
    
  <!--
 	<logger name="nl.idgis.publisher.job" level="debug"/>
  -->
     
  <!-- 
  	<logger name="nl.idgis.publisher.database" level="debug"/>
   -->
  
  <!--   
    <logger name="com.mysema.query.sql" level="debug"/>
   -->
  
  <!--
  	<logger name="nl.idgis.publisher.harvester" level="debug"/>
  -->
  
  <!--
  	<logger name="nl.idgis.publisher.harvester.sources.ProviderConnectionClient" level="debug"/>
   -->
  
  <!-- 
  	<logger name="nl.idgis.publisher.loader" level="debug"/>
  -->
  
  <!-- 
  	<logger name="nl.idgis.publisher.protocol.SSLHandler" level="debug"/>
  -->
  
  <!--
  	<logger name="nl.idgis.publisher.protocol.MessageProtocolHandler" level="debug"/>
   -->
  
  <!--
  	<logger name="nl.idgis.publisher.protocol.MessagePackagerProvider" level="debug"/>
   -->
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>