@(exceptionId: String)

@layout.applicationCentered(title = Domain.message("web.application.title")) {
	
	<div class="panel panel-danger panel-centered">
		<div class="panel-heading">
			<h3 class="panel-title">@Domain.message("web.application.title")</h3>
		</div>
		<div class="panel-body">
			<p>
				@Domain.message("web.application.notavailable")
			<p>
			@if(exceptionId != null) {
				<p>
					@* De foutmelding is gerapporteerd met code <code>@exceptionId</code>. Vermeld deze code bij een vraag om assistentie. *@
					@Domain.message("web.application.notavailable.code", exceptionId)
				</p>
			}
		</div>
	</div>
}