@import nl.idgis.publisher.domain.web._ 
@import nl.idgis.publisher.domain.web.tree._ 
@import nl.idgis.publisher.domain.response._

@(serviceForm: Form[controllers.Services.ServiceForm], 
	create: Boolean,
	groups: Page[LayerGroup],
	layers: Page[nl.idgis.publisher.domain.web.Layer],
	groupLayer: nl.idgis.publisher.domain.web.tree.GroupLayer, 
	environments: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ServicePublish]
)

@layerPageRef(page: Long) = @{
	routes.Layers.listJson(null, page)
}

@implicitField = @{ helper.FieldConstructor(helper.bootstrap.bootstrapFieldConstructor.f) }

@layout.application( 
	title=Domain.message("web.application.page.services.form.title"),
	jsMain = routes.Assets.at("js/services/form.js").url,
	docPath = "services/form"
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.services.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.services.form.header.edit", serviceForm("name").value) </h1>
	}

	@helper.formerrors(serviceForm, Domain.message("web.application.page.services.name").toLowerCase())	

	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" @if(create){action="@routes.Services.submitCreate()"}else{action="@routes.Services.submitUpdate(serviceForm("rootGroupId").value)"} >
				<input type="hidden" class="form-control" id="input-rootGroupId" name="rootGroupId" value="@serviceForm("rootGroupId").value" >
				@if(create) {
					@helper.inputText(
						serviceForm("name"),
						'_label -> Domain.message("web.application.page.services.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'placeholder -> Domain.message("web.application.page.services.form.field.name.placeholder"),
						'_help -> Domain.message("web.application.page.services.form.field.name.help"),
						'_required -> true
					)
				} else {
					@helper.inputText(
						serviceForm("name"),
						'_label -> Domain.message("web.application.page.services.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.services.form.field.name.help"),
						'readonly -> "readonly"
					)
				}
				
				@helper.inputText(
					serviceForm("title"),
					'_label -> Domain.message("web.application.page.services.form.field.title.label"),
					'id -> "input-title",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.services.form.field.title.placeholder"),
					'_help -> Domain.message("web.application.page.services.form.field.title.help")
				)

				@helper.inputText(
					serviceForm("alternateTitle"),
					'_label -> Domain.message("web.application.page.services.form.field.alttitle.label"),
					'id -> "input-alternateTitle",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.services.form.field.alttitle.placeholder"),
					'_help ->  Domain.message("web.application.page.services.form.field.alttitle.help")
				)
				
				@helper.textarea(
					serviceForm("abstractText"),
					'_label -> Domain.message("web.application.page.services.form.field.abstract.label"),
					'id -> "input-abstractText",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.services.form.field.abstract.placeholder"),
					'_help -> Domain.message("web.application.page.services.form.field.abstract.help")
				)
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-keyword">@Domain.message("web.application.page.services.form.field.keywords.label")</label>
					<div class="col-lg-8">
						
						<div class="form-inline">
							<div class="form-group col-lg-8">
								<input class="form-control" id="input-keyword" name="keyword" placeholder="@Domain.message("web.application.page.services.form.field.keywords.placeholder")">
								<a class="btn btn-default btn-sm" id="add-keyword">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
							</div>
						</div>
						@helper.fielderrors(serviceForm("keywords").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.keywords.help")
					<div class="col-sm-offset-2 col-lg-8">
						<div class="keyword-list" id="keyword-list">
							@helper.repeat(serviceForm("keywords"), min = 0) { keywordField =>
								<div class="keyword-item-block" value="@keywordField.value">
									<input class="form-control" type="hidden" name="keywords[]" value="@keywordField.value">
									<span class="keyword-item label label-primary">@keywordField.value
										<button type="button" aria-hidden="true" class="close" value="@keywordField.value">&times;</button>
									</span>
								</div>
							}
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.publish.environments")</label>
					<div class="col-sm-8"> 
						<ol class="breadcrumb">
							@if(serviceForm("isPublished").value == "true") {
								@for(environment <- environments.values) {
									 @if(environment.inUse()){
									 <li>
										<span>@environment.name</span>
									</li>
									
									}
								}
							} else {
								<li>
									<span>@Domain.message("web.application.page.services.form.field.environments.none")</span>
								</li>
							}
						</ol>
					</div>
					@helper.tooltips("web.application.page.services.form.field.environments.help")
				</div>
				
				@helper.groupStructure(layers, groups, groupLayer, serviceForm("structure").errors)
<!-- 			
				<div class="form-group">
						<div class="col-sm-10">
							<div class="pull-right">
								<button class="btn btn-default btn-sm" type="button">@Domain.message("web.application.page.services.form.field.advanced.button")</button>
						</div>
					</div>
				</div>

				<div id="watermerk">
					<div class="form-group">
						<h3 class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermark.header")</h3>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkenable.label")</label>
						<div class="col-sm-5">
							<input type="checkbox">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkurl.label")</label>
						<div class="col-sm-10">
							<input type="file">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarktransparency.label")</label>
						<div class="col-sm-8">
							<input class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkposition.label")</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition1.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition2.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition3.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition4.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition5.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition6.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition7.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition8.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition9.option")</option>
							</select>
						</div>
					</div>
				</div>
				
		 -->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Services.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}
