@import nl.idgis.publisher.domain.web._ 
@import nl.idgis.publisher.domain.web.tree._ 
@import nl.idgis.publisher.domain.response._

@(serviceForm: Form[controllers.Services.ServiceForm], 
	create: Boolean,
	groups: Page[LayerGroup],
	groupLayer: nl.idgis.publisher.domain.web.tree.GroupLayer,
	serviceKeywords: java.util.List[java.lang.String]
)

@layout.application( 
	title=Domain.message("web.application.page.services.form.title"),
	jsMain = routes.Assets.at("js/services/form.js").url
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.services.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.services.form.header.edit", serviceForm("name").value) </h1>
	}

	@helper.formerrors(serviceForm, Domain.message("web.application.page.services.name").toLowerCase())	

	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Services.submitCreateUpdate()" >
				<input type="hidden" class="form-control" id="input-id" name="id" value="@serviceForm("id").value" >
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-name">@Domain.message("web.application.page.services.form.field.name.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-name" name="name" placeholder="@Domain.message("web.application.page.services.form.field.name.placeholder")" value="@serviceForm("name").value" @if(!create){readonly}>
						@helper.fielderrors(serviceForm("name").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.name.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-title">@Domain.message("web.application.page.services.form.field.title.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-title" name="title" placeholder="@Domain.message("web.application.page.services.form.field.title.placeholder")" value="@serviceForm("title").value">
						@helper.fielderrors(serviceForm("title").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.title.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-alternateTitle">@Domain.message("web.application.page.services.form.field.alttitle.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-alternateTitle" name="alternateTitle" placeholder="@Domain.message("web.application.page.services.form.field.alttitle.placeholder")" value="@serviceForm("alternateTitle").value">
						@helper.fielderrors(serviceForm("alternateTitle").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.alttitle.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-abstractText">@Domain.message("web.application.page.services.form.field.abstract.label")</label>
					<div class="col-lg-8">
						<textarea class="form-control" id="input-abstractText" name="abstractText" placeholder="@Domain.message("web.application.page.services.form.field.abstract.placeholder")" value="@serviceForm("abstractText").value" rows="4">@serviceForm("abstractText").value</textarea>
						@helper.fielderrors(serviceForm("abstractText").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.abstract.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-keyword">@Domain.message("web.application.page.services.form.field.keywords.label")</label>
					<div class="col-lg-8">
						
						<div class="form-inline">
							<div class="form-group col-lg-8">
								<input class="form-control" id="input-keyword" name="keyword" placeholder="@Domain.message("web.application.page.services.form.field.keywords.placeholder")">
								<a class="btn btn-default btn-sm" id="add-keyword">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
							</div>
						</div>
						@helper.fielderrors(serviceForm("keywords").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.keywords.help")
					<div class="col-sm-offset-2 col-lg-8">
						<div class="keyword-list" id="keyword-list">
							@for(keyword <- serviceKeywords) {
								<div class="keyword-item-block" value=@keyword>
									<input class="form-control" type="hidden" name="keywords[]" value=@keyword>
									<span class="keyword-item label label-primary">@keyword
										<button type="button" aria-hidden="true" class="close" value=@keyword>&times;</button>
									</span>
								</div>
							}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-published">@Domain.message("web.application.page.services.form.field.publish.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-published" name="published" value="true" @if(serviceForm("published").value.equals("true")){checked}>
						</div>
					
						@helper.fielderrors(serviceForm("published").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.publish.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-rootgroup">@Domain.message("web.application.page.services.form.field.rootgroup.label")</label>
					<div class="col-lg-8">
						<select class="form-control" id="input-rootgroup" name="rootGroupName" >
						@for(group <- groups.values){
							<option value="@group.id" @if(serviceForm("rootGroupName").value==group.name){selected}>@group.name</option>
						}
						</select>
						@helper.fielderrors(serviceForm("rootGroupName").errors)
					</div>
					@helper.tooltips("web.application.page.services.form.field.rootgroup.help")
				</div>
				<div class="form-group">
				
					<label class="col-sm-2 control-label" for="input-name">@Domain.message("web.application.page.services.form.field.structure.label")</label>
					<div class="col-sm-8">
						<div class="list-group" id="groupLayerStructure">
							<!-- show one item with the rootgroup and its structure -->
							@if(groupLayer != null){
							<div value="@groupLayer.getId()" class="list-group-item gp-draggable tree-item">
								<input type="hidden" value="@groupLayer.getId()" name="structure[]">
								<div class="row">
									<div class="col-sm-11 groupTree">
										<ul class="treelist">
											@helper.groupStructureGroup(groupLayer)
										</ul>
									</div>
									<!-- no delete button -->
								</div>
							</div>
							}
						</div>
					</div>
				</div>
				
<!-- 			
				<div class="form-group">
						<div class="col-sm-10">
							<div class="pull-right">
								<button class="btn btn-default btn-sm" type="button" onclick="geavanceerd()">@Domain.message("web.application.page.services.form.field.advanced.button")</button>
						</div>
					</div>
				</div>

				<div id="watermerk">
					<div class="form-group">
						<h3 class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermark.header")</h3>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkenable.label")</label>
						<div class="col-sm-5">
							<input type="checkbox">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkurl.label")</label>
						<div class="col-sm-10">
							<input type="file">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarktransparency.label")</label>
						<div class="col-sm-8">
							<input class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">@Domain.message("web.application.page.services.form.field.watermarkposition.label")</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition1.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition2.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition3.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition4.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition5.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition6.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition7.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition8.option")</option>
								<option>@Domain.message("web.application.page.services.form.field.watermarkposition9.option")</option>
							</select>
						</div>
					</div>
				</div>
				
		 -->
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Services.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}