@(services: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Service], query: String, isPublished: java.lang.Boolean)

@pageRef(targetPage: Long) = @{	  
	routes.Services.list (query, isPublished, targetPage)		
}

@metadataUrl(fileId: String) = @{
	play.Play.application().configuration().getString("publisher.metadata.service") + fileId + ".xml" 
}

@import nl.idgis.publisher.domain.web._ 
@layout.application( title = Domain.message("web.application.page.services.list.header"),
	jsMain = routes.Assets.at("js/services/list.js").url, 
	docPath = "services/list"
) {

<div class="page-content">
	<h1 class="page-header">@Domain.message("web.application.page.services.list.header")</h1>

	<div class="row">

		@* Filters and search: *@
		<div class="col-lg-3 col-lg-push-9">
			<form class="form-horizontal" role="form" method="GET" action="@routes.Services.list(null, isPublished)">
			
				@* Add layer button: *@
				<div class="form-group">
					<div class="col-sm-12">
						<a href="@routes.Services.create()" 
							class="btn btn-success col-sm-12" title="@Domain.message("web.application.button.add")">
							<span class="glyphicon glyphicon-plus"></span> @Domain.message("web.application.page.services.list.button.create")
						</a>
					</div>
				</div>
				
				@* Search layer input: *@
				<div class="form-group has-feedback">
					<div class="col-sm-12">
						<input 
							name="q" 
							type="text" 
							class="form-control col-sm-12" 
							placeholder="@Domain.message("web.application.page.layers.services.search.placeholder")"
							@if(query != null){value="@query"}>
						<button type="submit" class="btn btn-link form-control-feedback"><span class="glyphicon glyphicon-search"></span></button>
						@if(query != null) {
							<a href="@routes.Services.list(null, isPublished)"><small>@Domain.message("web.application.page.services.list.search.showAll")</small></a>
						}
					</div>
				</div>
				
				@* Filter on "published": *@
				<div class="panel-group" id="filters-accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#filters-accordion" href="#collapse-filter-tags">
									@Domain.message("web.application.filters.published.title")
								</a>
							</h4>
						</div>
						<div id="collapse-filter-tags" class="panel-collapse collapse in">
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked">
									<li@if(isPublished == null){ class="active"}>
										<a href="@routes.Services.list(query, null)">@Domain.message("web.application.filters.published.both")</a>
									</li>
									<li@if(isPublished != null && isPublished){ class="active"}>
										<a href="@routes.Services.list(query, true)">@Domain.message("web.application.filters.published.published")</a>
									</li>
									<li@if(isPublished != null && !isPublished){ class="active"}>
										<a href="@routes.Services.list(query, false)">@Domain.message("web.application.filters.published.unpublished")</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
								
			</form>
		</div>
	
		@* List of services: *@
		<div class="col-lg-9 col-lg-pull-3">
			@if(services.values.isEmpty) {
				<div class="alert alert-info">@Domain.message("web.application.page.services.list.empty")</div>
			} else {

			@* buttons for wmts, tms on top of service list *@	
			<div class="list-group">
				<div class="list-group-item well well-sm"> 
					<div class="row">
						<div class="col-md-8">
						</div>
						<div class="col-md-2">
							<div class="btn-group pull-left">
								<a href="@models.Service.getWmtsGetCapUrl()" target="_blank"
									class="btn btn-default" title="@Domain.message("web.application.button.getcap")">
									<span>WMTS</span>
								</a> 
								<a href="@models.Service.getTmsGetCapUrl()"  target="_blank"
									class="btn btn-default" title="@Domain.message("web.application.button.getcap")">
									<span>&nbsp;TMS&nbsp;</span>
								</a> 
							</div>
						</div>
						<div class="col-md-2">
						</div>
					</div>
				</div>
			</div>
	
			<div class="list-group" id="service-list">
				@for(service <- services.values) {
				<div class="list-group-item js-service-item" 
					data-service-id="@service.id"
					data-service-name="@service.name"
					
					data-warning-pre-title="@Domain.message("web.application.removing")"
					data-warning-title="@service.name"
					data-warning-delete-link="@routes.Services.delete(service.id)"
					data-warning-delete-body="@Domain.message("web.application.page.services.list.delete.warning.body")">
					<div class="row">
						<div class="col-md-3">
							<h4 class="list-group-item-heading">
								<a href="@routes.Services.edit(service.id)" class="text-warning">@service.name</a>
							</h4>
							@if(service.confidential) {
								<span class="label label-warning">@Domain.message("web.application.page.services.list.confidential")</span>
							}
						</div>
						<div class="col-md-2">
							@if(service.isPublished) {
								<span><strong>@Domain.message("web.application.page.list.published")</strong></span>
							} else {
								<span>@Domain.message("web.application.page.list.notpublished")</span>
							}
						</div>
						
						<div class="col-md-2">
							<a href="@routes.Services.publishService(service.id)"
									class="btn btn-default" title="">
									<span>@Domain.message("web.application.page.services.list.publish")</span>
								</a> 
						</div>							
						<div class="col-md-3">
							<div class="btn-group pull-left">
								<a href="@models.Service.getWmsGetCapUrl(service.name)" target="_blank"
									class="btn btn-default" title="@Domain.message("web.application.button.getcap")">
									<span>&nbsp;WMS&nbsp;</span>
								</a>
								@if(service.isPublished) {
									<a href="@metadataUrl(service.wmsMetadataFileId)" class="btn btn-default" title="@Domain.message("web.application.page.services.list.button.metadata.wms")" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
								} else {
									<a href="" class="btn btn-default disabled" title="@Domain.message("web.application.page.services.list.button.metadata.wms")" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
								} 
								<a href="@models.Service.getWfsGetCapUrl(service.name)"  target="_blank"
									class="btn btn-default" title="@Domain.message("web.application.button.getcap")">
									<span>&nbsp;WFS&nbsp;</span>
								</a>
								@if(service.isPublished) {
									<a href="@metadataUrl(service.wfsMetadataFileId)" class="btn btn-default" title="@Domain.message("web.application.page.services.list.button.metadata.wfs")" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
								} else {
									<a href="" class="btn btn-default disabled" title="@Domain.message("web.application.page.services.list.button.metadata.wfs")" target="_blank"><span class="glyphicon glyphicon-download"></span></a>
								}
							</div>
						</div>
						<div class="col-md-2">
							<div class="btn-group pull-right">
								<a href="@routes.Services.edit(service.id)"
									class="btn btn-default" title="@Domain.message("web.application.button.edit")">
									<span class="glyphicon glyphicon-edit"></span>
								</a>
								@if(service.isPublished) {
									<a data-toggle="modal" data-target="#js-delete-warning" 
										class="btn btn-warning js-delete-button disabled" title="@Domain.message("web.application.button.remove")">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								} else {
									<a data-toggle="modal" data-target="#js-delete-warning" 
										class="btn btn-warning js-delete-button" title="@Domain.message("web.application.button.remove")">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								}
							</div>
						</div>
					</div>
				</div>
				}
			</div>
			}
			@helper.deleteWarning()
			@helper.pagination(services, pageRef)
		</div> @* /services*@
	</div>
</div>
}
