@import nl.idgis.publisher.domain.web._ 

@(serviceId: String,
	service: nl.idgis.publisher.domain.web.Service, 
	environments: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ServicePublish])


@layout.application( title = Domain.message("web.application.page.services.publish"),
	docPath = "services/publish"
) {

<div class="page-content">
	<h1 class="page-header">@Domain.message("web.application.page.services.form.header.publish", service.name)</h1>
	
	<h3>@Domain.message("web.application.page.services.publish.environments")</h3>
	
	<form method="post" action="@routes.Services.submitPublishService(serviceId)"> 
		<div class="form-group col-lg-8">
			<div class="row">
				<div class="list-group">
					@for(environment <- environments.values) {
						<label class="list-group-item@if(!environment.confidential && service.confidential){ list-group-item-warning}">
							<h4 class="list-group-item-heading">
								@environment.name
								<input name="@environment.identification" type="checkbox" class="pull-right" @if(environment.inUse()){checked}@if(!environment.confidential && service.confidential){ disabled}>
							</h4>
							@if(!environment.confidential && service.confidential) {
								<p class="list-group-item-text">
									@Domain.message("web.application.page.services.publish.environmentNotConfidential")
								</p>
							}
						</label>
					}
				</div>
			</div>
		</div>
		@helper.tooltips("web.application.page.services.form.publish.environments.help")
		<div class="form-group col-lg-8">
			<div class="row">
				<button type="submit" class="btn btn-primary">@Domain.message("web.application.button.publish")</button>
				<a href="@routes.Services.list()" type="button" class="btn btn-default">@Domain.message("web.application.button.cancel")</a>
			</div>
		</div>
	</form>
	
</div>
}
