@(styleForm: Form[controllers.Styles.StyleForm], create:Boolean)

@import nl.idgis.publisher.domain.web._ 

@implicitField = @{ helper.FieldConstructor(helper.bootstrap.bootstrapFieldConstructor.f) }

@styleId = @{styleForm("id").value()}

@layout.application( 
	title=Domain.message("web.application.page.styles.form.title"),
	jsMain = routes.Assets.at("js/styles/form.js").url,
	cssMain = routes.Assets.at("stylesheets/styles/form.css").url,
	docPath = "styles/form"
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.styles.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.styles.form.header.edit", styleForm("name").value) </h1>
	}

	@helper.formerrors(styleForm, Domain.message("web.application.page.styles.name").toLowerCase())	

	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Styles.submitCreateUpdate()" >
				<input type="hidden" class="form-control" id="input-id" name="id" value="@styleForm("id").value" >

				@if(create) {				
					@helper.inputText(
						styleForm("name"),
						'_label -> Domain.message("web.application.page.styles.form.field.name.label"),
						'id -> "input-name",
						'placeholder -> Domain.message("web.application.page.styles.form.field.name.placeholder"),
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.styles.form.field.name.help"),
						'_required -> true
					)
				} else {
					@helper.inputText(
						styleForm("name"),
						'_label -> Domain.message("web.application.page.styles.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.styles.form.field.name.help"),
						'_readonly -> true
					)
				}
				<div class="form-group@if(styleForm("definition").hasErrors){ has-error}">
					<label class="col-sm-2 control-label" for="input-definition">@Domain.message("web.application.page.styles.form.field.definition.label")</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="input-definition" name="definition" rows="20" placeholder="@Domain.message("web.application.page.styles.form.field.definition.placeholder")">@styleForm("definition").value</textarea>
						@helper.fielderrors(styleForm("definition").errors)
					</div>
					@helper.tooltips("web.application.page.styles.form.field.definition.help")
				</div>
				<div class="form-group" id="upload-row">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.styles.form.field.browse.label")</label>
					<div class="col-sm-8">
						<iframe src="@routes.Styles.uploadFileForm()"></iframe>
					</div>
					@helper.tooltips("web.application.page.styles.form.field.definition.select")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-styleType">@Domain.message("web.application.page.styles.form.field.type.label")</label>
					<div class="col-sm-9">
						<div class="input-group">
							<select class="form-control" id="input-styleType" name="styleType">
								<option value="POINT" @if(styleForm("styleType").value == "POINT"){selected}>@Domain.message("web.application.page.styles.form.field.type.point")</option>
								<option value="LINE" @if(styleForm("styleType").value == "LINE"){selected}>@Domain.message("web.application.page.styles.form.field.type.line")</option>
								<option value="POLYGON" @if(styleForm("styleType").value == "POLYGON"){selected}>@Domain.message("web.application.page.styles.form.field.type.polygon")</option>
							</select>
							@helper.helpFormAddon("web.application.page.styles.form.field.type.select")
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.styles.form.field.layers.label")</label>
					<div class="col-sm-8">
						<span class="help-block"></span>
					</div>
				</div>

				<!-- fields that are not user editable but must be passed on -->
				<input type="hidden" class="form-control" id="input-format" name="format" value="@styleForm("format").value" readonly>
				<input type="hidden" class="form-control" id="input-version" name="version" value="@styleForm("version").value" readonly>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.validate")</button>
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Styles.list()" 
							class="btn btn-success" title="Annuleren">
							@Domain.message("web.application.button.cancel")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}
