@(styles: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Style], query: String = null)

@pageRef(page: Long) = @{
	routes.Styles.listStylesJson(page, query)
}

<ul>
	@for(style <- styles.values) {
		<li>
			<a href="#" data-id="@style.id" data-label="@style.name">
				<span class="glyphicon glyphicon-tag"></span>
				@style.name
			</a>
		</li>
	}
</ul>
@if(styles.hasMorePages) {
	<div class="js-pager-controls">
		@helper.pagination(styles, pageRef)
	</div>
}
