@(styles: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Style], query: String = null)

@pageRef(page: Long) = @{
	routes.Styles.listStylesJson(page, query)
}

<div class="panel panel-default">
	<div class="panel-heading">
		<input type="text">
	</div>
	<div class="panel-body">
		<ul>
			@for(style <- styles.values) {
				<li>
					<a href="#" data-id="@style.id" data-label="@style.name">
						<span class="glyphicon glyphicon-tag"></span>
						@style.name
					</a>
				</li>
			}
		</ul>
	</div>
	@if(styles.hasMorePages) {
		<div class="panel-footer">
			<div class="gp-pager-controls js-pager-controls row">
				@helper.pagination(styles, pageRef)
			</div>
		</div>
	}
</div>