@(content: String = null)

@layout.html(
	title = Domain.message("web.application.page.styles.form.upload.title"),
	stylesheets = Array(
		routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css")).url,
		routes.Assets.at("stylesheets/main.css").url
	),
	scripts = Array(
		routes.Application.javascriptRoutes.url,
		routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js")).url,
		routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js")).url,
		routes.Assets.at("js/styles/upload-form.js").url
	)	
) {
	<form method="POST" action="@routes.Styles.handleFileUploadForm()" enctype="multipart/form-data">
		<input type="file" name="file" class="upload-file-form pull-left">
		<button type="submit" class="btn btn-default pull-right">@Domain.message("web.application.page.styles.form.field.browse.button")</button>
	</form>
	
	@if(content != null) {
		<div class="hidden">
			<textarea id="text-content">@content</textarea>
		</div>
	}
}