@(tasks: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ActiveTask])

<li class="dropdown-header">
	@if(tasks.values.isEmpty){
		@Domain.message("web.application.page.dashboard.panel.noactivetasks")
	}else{
		@if(tasks.hasMorePages){&gt; }@tasks.values.size 
		@if(tasks.values.size == 1){
			@Domain.message("web.application.page.dashboard.panel.activetask")
		}else{
			@Domain.message("web.application.page.dashboard.panel.activetasks")
		}
	}
</li>
<li class="divider"></li>
@for(task <- tasks.values) {
	<li class="task">
		<a href="@routes.Dashboard.index()">
			<div>
				<strong>@Domain.message(task.title)</strong>
				@if(task.message().properties() != null){
					@task.message().properties().getTitle()
				}
				<div class="text-muted">
					@if(task.active){
						@Domain.message(task.message, nl.idgis.publisher.domain.web.MessageContext.ACTIVE)
					}else{
						@{new org.joda.time.LocalDateTime(task.time.getTime()).toString("dd-MM-yyyy HH:mm:ss")} : @Domain.message(task.getStatusString())
					}
					@if(task.published() != null){
						@if(task.published()){
							(@Domain.message("web.application.log.tasks.service.publication"))
						}else{
							(@Domain.message("web.application.log.tasks.service.staging"))
						}
					}								
				</div>
			</div>
			@if(task.progress != null) {
				<div class="progress progress-striped active" >
					<div class="progress-bar progress-bar-success" role="progressbar" 
					  aria-valuenow="@task.progress" aria-valuemin="0" aria-valuemax="100" style="width: @task.progress%">
					  @task.progress%
					</div>
				</div>
			}
		</a>
	</li>
}

<li class="divider"></li>

<li>
	<a href="@routes.Logging.tasks()" class="text-center">@Domain.message("web.application.page.dashboard.showtasklog") <span class="glyphicon glyphicon-chevron-right"></span></a>
</li>
