@(tasks: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ActiveTask])

<div class="panel @if(tasks.values.isEmpty){panel-success}else{panel-info}">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-1">
				<p class="announcement-glyphicon">
					<span class="glyphicon glyphicon-tasks"></span>
				</p>
			</div>
			<div class="col-xs-11 text-right">
				<p class="announcement-heading">
					@if(tasks.values.size != 1){
						@Domain.message("web.application.page.dashboard.panel.tasks")
					}else{
						@Domain.message("web.application.page.dashboard.panel.task")
					}
				</p>
				<p class="announcement-text">
					@if(tasks.values.isEmpty) {
						@Domain.message("web.application.none")
					} else {
						@if(tasks.hasMorePages){&gt; }@tasks.values.size
					}
				</p>
			</div>
		</div>
	</div>

	<ul class="list-group">
		@for(task <- tasks.values) {
			<li class="list-group-item task">
				<strong>@Domain.message(task.title)</strong>
				@if(task.message().properties() != null){
					@task.message().properties().getTitle()
				}
				<div class="text-muted">
					@if(task.active){
						@Domain.message(task.message, nl.idgis.publisher.domain.web.MessageContext.ACTIVE)
					}else{
						@{new org.joda.time.LocalDateTime(task.time.getTime(), org.joda.time.DateTimeZone.forID("CET")).toString("dd-MM-yyyy HH:mm:ss")} : @Domain.message(task.getStatusString())
					}
					@if(task.published() != null){
						@if(task.published()){
							(@Domain.message("web.application.log.tasks.service.publication"))
						}else{
							(@Domain.message("web.application.log.tasks.service.staging"))
						}
					}				
				</div>
				@if(task.progress != null) {
					<div class="progress progress-striped active" >
						<div class="progress-bar progress-bar-success" role="progressbar" 
						  aria-valuenow="@task.progress" aria-valuemin="0" aria-valuemax="100" style="width: @task.progress%">
						  @task.progress%
						</div>
					</div>
				}
			</li>
		}
	</ul>
	
	<a href="@routes.Logging.tasks()">
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-10">
					@Domain.message("web.application.page.dashboard.showtasklog")
				</div>
				<div class="col-xs-2 text-right">
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</div>
			</div>
		</div>
	</a>
</div>	