@(dataSources: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.DataSource])

<div class="panel @if(dataSources.values.isEmpty){panel-warning}else{panel-success}">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-1">
				<p class="announcement-glyphicon">
					<span class="glyphicon glyphicon-cloud"></span>
				</p>
			</div>
			<div class="col-xs-11 text-right">
				<p class="announcement-heading">
				@if(dataSources.values.size != 1){
				  	@Domain.message("web.application.page.dashboard.panel.datassources")
				}else{
					@Domain.message("web.application.page.dashboard.panel.datassource")
				}
				</p>
				<p class="announcement-text">
					@if(dataSources.values.isEmpty) {
						@Domain.message("web.application.none")
					} else {
						@dataSources.values.size
					}
				</p>
			</div>
		</div>
	</div>
	<ul class="list-group">
		@for(dataSource <- dataSources.values) {
			<li class="list-group-item">
				<div>
					<strong>@dataSource.name</strong>
				</div>
				<div>
					@helper.status(dataSource.status)
				</div>
			</li>
		}
	</ul>
	<a href="@routes.DataSources.list()">
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-10">
					@Domain.message("web.application.page.dashboard.panel.datassources.status")
				</div>
				<div class="col-xs-2 text-right">
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</div>
			</div>
		</div>
	</a>
</div>
