<form id="modal-form" class="form-horizontal" method="post" action="" >
	<div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 id="modal-title" class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<p id="modal-body"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">@Domain.message("web.application.button.cancel")</button>
					<button type="submit" class="btn btn-danger">@Domain.message("web.application.button.ok")</button>
				</div>
			</div>
		</div>
	</div>
</form>