@(entityType: nl.idgis.publisher.domain.EntityType)@{
	entityType match {
	case nl.idgis.publisher.domain.EntityType.SOURCE_DATASET => Domain.message("web.application.EntityType.SOURCE_DATASET")
	case nl.idgis.publisher.domain.EntityType.DATASET => Domain.message("web.application.EntityType.DATASET")
	case nl.idgis.publisher.domain.EntityType.NOTIFICATION => Domain.message("web.application.EntityType.NOTIFICATION")
	case nl.idgis.publisher.domain.EntityType.CATEGORY => Domain.message("web.application.EntityType.CATEGORY")
	case nl.idgis.publisher.domain.EntityType.JOB => Domain.message("web.application.EntityType.JOB")
	case nl.idgis.publisher.domain.EntityType.LOG_ITEM => Domain.message("web.application.EntityType.LOG_ITEM")
	case nl.idgis.publisher.domain.EntityType.DATA_SOURCE => Domain.message("web.application.EntityType.DATA_SOURCE")
	case _ => entityType.name
	}
}