
@import java.util.List;
@import nl.idgis.publisher.domain.response._; 
@import nl.idgis.publisher.domain.web.tree._

@(	
	layers: Page[nl.idgis.publisher.domain.web.Layer],
	groups: Page[nl.idgis.publisher.domain.web.LayerGroup],
	container: LayerContainer,
	errors: java.util.List[play.data.validation.ValidationError],
	showStyleSelect: Boolean = true
)

@layersPageRef(page: Long) = @{
	routes.Layers.listJson(null, page)
}

@groupsPageRef(page: Long) = @{
	routes.Groups.listJson(null, page)
}

<div class="form-group">
	<label class="col-sm-2 control-label">@Domain.message("web.application.page.groups.form.field.structure.label")</label>
	<div class="col-sm-8">
		<div class="list-group" id="groupLayerStructure">
			@if(container != null) {			
				@for(layerRef <- container.getLayers()) {
					@helper.groupStructureItem(layerRef, showStyleSelect)									
				}
			}
		</div>
		
		<span class="gp-pager-select" id="layers-select">
			<button type="button" class="btn btn-default js-pager-select-button">
				<span class="glyphicon glyphicon-plus"></span>
				@Domain.message("web.application.page.groups.form.field.addlayer.button")
			</button>
			<div class="dropdown js-dropdown">
				@views.html.layers.layerPager(layers, null, layersPageRef)
			</div>
		</span>
		
		<span class="gp-pager-select" id="groups-select">
			<button type="button" class="btn btn-default js-pager-select-button">
				<span class="glyphicon glyphicon-plus"></span>
				@Domain.message("web.application.page.groups.form.field.addgroup.button")
			</button>
			<div class="dropdown js-dropdown">
				@views.html.layers.layerPager(groups, null, groupsPageRef)
			</div>
		</span>
		
		@helper.fielderrors(errors)
	</div>
	@helper.tooltips("web.application.page.groups.form.field.structure.help")
</div>