@import nl.idgis.publisher.domain.web.tree._ 

@(grouplayer: GroupLayer, showRootGroup: Boolean)


@if(grouplayer != null){
	@if(showRootGroup){
	<!-- show one item with the rootgrop and its structure -->
			<div value="@grouplayer.getId()" class="list-group-item gp-draggable tree-item">
				<input type="hidden" value="@grouplayer.getId()" name="structure[]">
				<div class="row">
					<div class="col-sm-11 groupTree">
						<ul class="treelist">
							@helper.groupStructureItem(grouplayer)
						</ul>
					</div>
					<!-- no delete button -->
				</div>
			</div>
	}else{
	<!-- show items for each group/layer in the root group -->
		@for(layer <- grouplayer.getLayers()){
			<div value="@layer.getId()" class="list-group-item gp-draggable tree-item">
				<input type="hidden" value="@layer.getId()" name="structure[]">
				<div class="row">
					<div class="col-sm-11 groupTree">
						<ul class="treelist">
							@helper.groupStructureItem(layer)
						</ul>
					</div>
					<div class="col-sm-1">
						<div class="pull-right tree-item-delete">
							<a href="#" 
								class="btn btn-default btn-sm delete-el" value="@layer.getId()" title=@Domain.message("web.application.button.remove")>
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	}
}
	