@import nl.idgis.publisher.domain.web.tree._ 

@(grouplayer: Layer)




	@if(grouplayer.isGroup()){
			<li>
			<a href="@routes.Groups.edit(grouplayer.getId())"><strong>@grouplayer.getName()</strong></a>
			<ul>
				@for(layerRef <- grouplayer.asGroup().getLayers()){
					@defining(layerRef.getLayer()) { layer =>
						@helper.groupStructureItem(layer)
					}
				}
			</ul>
			</li>
	}else{
		<li>
			<a href="@routes.Layers.edit(grouplayer.getId())">@grouplayer.getName()</a>
		</li>
	}