
@import java.util.List;
@import nl.idgis.publisher.domain.response._; 
@import nl.idgis.publisher.domain.web.tree._

@(	
	layers: Page[nl.idgis.publisher.domain.web.Layer],
	content: List[LayerRef[_ <: Layer]],
	errors: java.util.List[play.data.validation.ValidationError]
)

<div class="form-group">
	<label class="col-sm-2 control-label">@Domain.message("web.application.page.groups.form.field.structure.label")</label>
	<div class="col-sm-8">
		<div class="list-group" id="groupLayerStructure">			
			@for(layerRef <- content) {
				@helper.groupStructureItem(layerRef)									
			}
		</div>
		
		<div class="gp-pager-select" id="layers-select">
			<button type="button" class="btn btn-default js-pager-select-button">
				<span class="glyphicon glyphicon-plus"></span>
				Voeg een laag toe ...
			</button>
			<div class="dropdown js-dropdown">
				@views.html.layers.layerPager(layers, null, null)
			</div>
		</div>
		@helper.fielderrors(errors)
	</div>
	@helper.tooltips("web.application.page.groups.form.field.structure.help")
</div>