@import nl.idgis.publisher.domain.web.tree._

@(layerRef: LayerRef[_ <: Layer])

@defining(layerRef.getLayer()) { layer =>
	<div value="@layer.getId()" class="list-group-item js-gp-draggable tree-item">
		<input type="hidden" value="@layer.getId()" name="structure[]">
		<div class="row">
			<div class="col-sm-6 groupTree">
				<ul class="treelist">
					@helper.groupStructureItemRef(layerRef)
				</ul>
			</div>
			<div class="col-sm-5">
				@if(layerRef.isGroupRef) {
					<input type="hidden" value="" name="styles[]">
				} else {
					@defining(layerRef.asDatasetRef()) { datasetRef =>
					@defining(datasetRef.getLayer()) { datasetLayer =>
					@defining(datasetRef.getStyleRef()) { styleRef =>															
						<div class="form-group">
							<label class="control-label col-sm-6" for="styles[]">@Domain.message("web.application.page.groups.form.field.structure.style.label")</label>
							<div class="col-sm-6">
								<select class="form-control js-gp-draggable-exclude" name="styles[]">
									<option value="">@Domain.message("web.application.page.groups.form.field.structure.style.default")</option>
									@defining(if(styleRef.isPresent()) null else styleRef.get().getId()) { currentStyleId =>																			
										@for(styleRef <- datasetLayer.getStyleRefs()) {
											<option value="@styleRef.getId()"@if(styleRef.getId() == currentStyleId) {selected }>@styleRef.getName()</option>
										}
									}
								</select>
							</div>
						</div>
					}}}
				}
			</div>
			<div class="col-sm-1">
				<div class="pull-right tree-item-delete">
					<a href="#" 
						class="btn btn-warning btn-sm delete-el" value="@layer.getId()" title="@Domain.message("web.application.button.remove")">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
}
