@import nl.idgis.publisher.domain.web.tree._ 

@(groupLayer: GroupLayer)

<li>
<a href="@routes.Groups.edit(groupLayer.getId())"><strong>@groupLayer.getName()</strong></a>
@if(groupLayer.isConfidential) {
	<span class="label label-warning">@Domain.message("web.application.page.layers.list.confidential")</span>
}
@if(groupLayer.isWmsOnly) {
	<span class="label label-warning">@Domain.message("web.application.page.layers.list.wmsonly")</span>
}
<ul>
	@for(layerRef <- groupLayer.getLayers()){
		@helper.groupStructureItemRef(layerRef)
	}
</ul>
</li>