@(errors: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue])

<div class="panel @if(errors.values.isEmpty){panel-success}else{panel-danger}">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-4">
				<p class="announcement-glyphicon">
					<span class="glyphicon glyphicon-warning-sign"></span>
				</p>
			</div>
			<div class="col-xs-8 text-right">
				<p class="announcement-heading">
					@if(errors.values.size != 1){
						@Domain.message("web.application.page.dashboard.panel.newerrors")
					}else{
						@Domain.message("web.application.page.dashboard.panel.newerror")
					}
				</p>
				<p class="announcement-text">
					@if(errors.values.isEmpty) {
						@Domain.message("web.application.none")
					} else {
						@if(errors.hasMorePages){&gt; }@errors.values.size
					}
				</p>
				
			</div>
		</div>
	</div>
	<ul class="list-group">
		@for(error <- errors.values) {
			<li class="list-group-item">
				@helper.issue(error)
			@*
			<div>
				<p>
					<strong>@Domain.message(error.message)</strong>
				</p>
			</div>
			*@
			</li>
		}
	</ul>
	<a href="@routes.Logging.messages()">
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-10">
					@Domain.message("web.application.page.dashboard.showerrorlog")
				</div>
				<div class="col-xs-2 text-right">
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</div>
			</div>
		</div>
	</a>
</div>