@(issues: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue])

<li class="dropdown-header">
	@if(issues.values.isEmpty) {
		@Domain.message("web.application.none")
	} else {
		@if(issues.hasMorePages){&gt; }@issues.values.size 
		@if(issues.values.size != 1){
			@Domain.message("web.application.page.dashboard.panel.newerrors")
		}else{
			@Domain.message("web.application.page.dashboard.panel.newerror")
		}
	}
</li>
<li class="divider"></li>
@for(issue <- issues.values) {
	<li>
		<a href="@routes.Logging.messagesWithFilter("error", 1)">
			@helper.issue(issue)
		</a>
	</li>
}
<li class="divider"></li>
<li><a href="@routes.Logging.messages()" class="text-center">@Domain.message("web.application.page.dashboard.showerrorlog") <span class="glyphicon glyphicon-chevron-right"></span></a></li>
