@(notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification])

@import controllers.Datasets.DatasetStatus

<div class="panel @if(notifications.values.isEmpty){panel-success}else{panel-info}">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-6">
				<p class="announcement-heading">
					<span class="glyphicon glyphicon-bell"></span>
				</p>
			</div>
			<div class="col-xs-6 text-right">
				<p class="announcement-heading">
					@if(notifications.values.isEmpty) {
						@Domain.message("web.application.none")
					} else {
						@if(notifications.hasMorePages){&gt; }@notifications.values.size
					}
				</p>
				<p class="announcement-text">
					@if(notifications.values.size != 1){
						@Domain.message("web.application.page.dashboard.panel.notifications")
					}else{
						@Domain.message("web.application.page.dashboard.panel.notification")
					}
				</p>
			</div>
		</div>
	</div>
	<div class="list-group">
		@for(notification <- notifications.values) {
			<a class="list-group-item notification" href="@routes.Datasets.show(notification.message.properties.getIdentification())">
				 <h4 class="list-group-item-heading">@helper.entityReference(notification.message.properties)</h4>
				 <p class="list-group-item-text">
				 	@Domain.message(notification.message)
				 </p>
			</a>
		}
	</div>
	<a href="@routes.Datasets.listByStatus(DatasetStatus.bind(DatasetStatus.Value.WITH_MESSAGES))">
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-10">
					@Domain.message("web.application.page.dashboard.alldatasetswitherrors")
				</div>
				<div class="col-xs-2 text-right">
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
				</div>
			</div>
		</div>
	</a>
</div>
