@(notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification])

@import controllers.Datasets.DatasetStatus

<li class="dropdown-header">
	@if(notifications.values.isEmpty){
		@Domain.message("web.application.page.dashboard.nodatasetswitherrors")
	} else {
		@if(notifications.hasMorePages){&gt; }@notifications.values.size 
		@if(notifications.values.size != 1){
			@Domain.message("web.application.page.dashboard.datasetswithstructuralchange")
		}else{
			@Domain.message("web.application.page.dashboard.datasetwithstructuralchange")
		}
	}
</li>
<li class="divider"></li>
@for(notification <- notifications.values) {
<li>
	<a href="@routes.Datasets.show(notification.message.properties.getIdentification())">
		<h4>@helper.entityReference(notification.message.properties)</h4>
		<p>
			@Domain.message(notification.message)
		</p>
	</a>
</li>
}
<li class="divider"></li>
<li>
	<a class="text-center" href="@routes.Datasets.listByStatus(DatasetStatus.bind(DatasetStatus.Value.WITH_MESSAGES))">@Domain.message("web.application.page.dashboard.alldatasetswitherrors") <span class="glyphicon glyphicon-chevron-right"></span></a> 
</li>
