@(notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification])

<li class="dropdown-header">
	@if(notifications.values.isEmpty){
		geen datasets met meldingen
	} else {
		@if(notifications.hasMorePages){&gt; }@notifications.values.size dataset@if(notifications.values.size > 1){s} met structuurwijziging
	}
</li>
<li class="divider"></li>
@for(notification <- notifications.values) {
<li>
	<a href="@routes.Datasets.show(notification.message.properties.getIdentification())">
		<h4>@helper.entityReference(notification.message.properties)</h4>
		<p>
			@Domain.message(notification.message)
		</p>
	</a>
</li>
}
<li class="divider"></li>
<li>
	<a class="text-center" href="@routes.Datasets.listWithMessages()">Alle datasets met meldingen <span class="glyphicon glyphicon-chevron-right"></span></a> 
</li>
