@import runtime.RichLong
@import play.api.mvc.Call

@(page: nl.idgis.publisher.domain.response.Page[_], pageRef: (Long) => Call, pageWindow: Long = 5)

@doPage(pageNumber: Long, isActive: Boolean = false) = {
	<li@if(isActive){ class="active" }><a href="@pageRef(pageNumber)">@pageNumber</a></li>
}

@doPaginationWindow(firstPage: RichLong, lastPage: Long) = {	
	<ul class="pagination">
		@if(page.currentPage == 1) {
			<li class="disabled"><a href="#">&laquo;</a></li>
		} else {
			<li><a href="@pageRef(page.currentPage - 1)">&laquo;</a></li>
		}
		@if(firstPage > 1) {
			@doPage(1)
			@if(firstPage > 2) {
				<li class="disabled"><a href="#">...</a></li>
			}
		}
		@for(pageNumber <- firstPage to lastPage) {
			@doPage(pageNumber, pageNumber == page.currentPage)
		}
		@if(lastPage < page.pageCount) {
			@if(lastPage < page.pageCount - 1) {
				<li class="disabled"><a href="#">...</a></li>
			}
			@doPage(page.pageCount)
		}
		@if(page.currentPage == page.pageCount) {
			<li class="disabled"><a href="#">&raquo;</a></li>
		} else {
			<li><a href="@pageRef(page.currentPage + 1)">&raquo;</a></li>
		}
	</ul>
}

@doPagination() = @{
	val nearbyPages = pageWindow - 1;
	
	val firstPage = 1l max (page.currentPage - nearbyPages)
	val lastPage = (page.currentPage + nearbyPages) min page.pageCount
	
	val excessPages = 0l max ((lastPage - firstPage + 1) - pageWindow)
	val excessLeft = excessPages / 2;
	val excessRight = excessPages - excessLeft;

	doPaginationWindow(firstPage + excessLeft, lastPage - excessRight)
}

@if(page.hasMorePages) {
	@doPagination()
}