@(status: nl.idgis.publisher.domain.web.Status, includeTime: Boolean = false)

@import nl.idgis.publisher.domain.web.Status
@import nl.idgis.publisher.domain.StatusType
@import nl.idgis.publisher.domain.StatusType.StatusCategory

@statusTime(status: Status) = {
	@if(status.since == null) {
		<strong>(@Domain.message("web.application.page.dashboard.timeunknown"))</strong>
	} else {
		<strong>@{new org.joda.time.LocalDateTime(status.since.getTime()).toString("dd-MM-yyyy HH:mm:ss")}</strong>
	} 
}

@doStatus(status: Status, textClass: String, iconClass: String) = {
	<span class="@textClass"><span class="@iconClass"></span> @Domain.message(status)@if(includeTime){: @statusTime(status)}</span>
}

@if(status.`type`.statusCategory == StatusCategory.INFO) {
	@doStatus(status, "text-info", "glyphicon glyphicon-info-sign")
}
@if(status.`type`.statusCategory == StatusCategory.SUCCESS) {
	@doStatus(status, "text-success", "glyphicon glyphicon-ok-sign")
}
@if(status.`type`.statusCategory == StatusCategory.WARNING) {
	@doStatus(status, "text-warning", "glyphicon glyphicon-exclamation-sign")

}
@if(status.`type`.statusCategory == StatusCategory.ERROR) {
	@doStatus(status, "text-danger", "glyphicon glyphicon-remove-sign")

}