@(title: String, jsMain: String = null)(content: Html)

@doFlash(flashType: String) = {
	@if(flash.containsKey(flashType)) {
		<div class="alert alert-@flashType">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>@flash.get(flashType)</strong>
		</div>
	}
}

@html(
	title = title, 
	stylesheets = Array(
		routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css")).url,
		routes.Assets.at("stylesheets/layout.css").url,
		routes.Assets.at("stylesheets/sb-admin.css").url
	),
	scripts = Array(
		routes.Application.javascriptRoutes.url,
		routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js")).url,
		routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js")).url,
		routes.Assets.at("js/layout.js").url
	) ++ (if(jsMain==null) Array[String]() else  Array[String](jsMain))
) {
	
	<div class="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
						<span class="sr-only">@Domain.message("web.application.layout.togglenavigation")</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span> @Domain.message("web.application.title")</a>
				</div>
				
				@* Top links: *@
				<ul class="nav navbar-top-links navbar-right" id="event-bar">
					<li class="dropdown" id="event-dropdown-notifications">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" title=@Domain.message("web.application.layout.dropdowntitle.notifications")><span class="glyphicon glyphicon-bell"></span> <span class="badge js-badge">1</span> <b class="caret"></b></a>
						<ul class="js-list dropdown-menu dropdown-messages">
							<li class="dropdown-header">@Domain.message("web.application.layout.nodatasetswithstructuralchange")</li>
							<li class="divider"></li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="@routes.Datasets.listWithMessages()">@Domain.message("web.application.layout.alldatasetswitherrors")Alle datasets met meldingen <span class="glyphicon glyphicon-chevron-right"></span></a> 
							</li>
						</ul>
					</li>
					<li class="dropdown" id="event-dropdown-active-tasks">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" title=@Domain.message("web.application.layout.dropdowntitle.tasks")><span class="glyphicon glyphicon-tasks"></span> <span class="js-badge badge hidden">0</span> <b class="caret"></b></a>
						<ul class="js-list dropdown-menu dropdown-tasks">
							<li class="dropdown-header">@Domain.message("web.application.layout.notasks")</li>
							<li class="divider"></li>
							<li class="divider"></li>
							<li>
								<a href="#" class="text-center">@Domain.message("web.application.layout.showlog") <span class="glyphicon glyphicon-chevron-right"></span></a>
							</li>
						</ul>
					</li>
					<li class="dropdown" id="event-dropdown-issues">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" title=@Domain.message("web.application.layout.dropdowntitle.errors")><span class="glyphicon glyphicon-warning-sign"></span> <span class="badge js-badge">1</span> <b class="caret"></b></a>
						<ul class="js-list dropdown-menu dropdown-alerts">
							<li class="dropdown-header">@Domain.message("web.application.layout.noerrors")</li>
							<li class="divider"></li>
							<li class="divider"></li>
							<li><a href="#" class="text-center">@Domain.message("web.application.layout.showerrorlog") <span class="glyphicon glyphicon-chevron-right"></span></a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @session.get("username") <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> @Domain.message("web.application.layout.profile")</a></li>
							<li class="divider"></a>
							<li><a href="@routes.User.logout()"><span class="glyphicon glyphicon-off"></span> @Domain.message("web.application.layout.logout")</a></li>
						</ul>
					</li>
				</ul>
		
			</div>
		</nav>
		
		@* Sidebar: *@
		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="active"><a href="@routes.Dashboard.index()"><span class="glyphicon glyphicon-dashboard"></span> @Domain.message("web.application.layout.sidebar.dashboard")</a></li>
					<li style="padding:5px 13px">
						<span style="font-weight:bold;font-size:15px">
							Databeheer
						</span>
					</li>
					<li><a href="@routes.Datasets.list()"><span class="glyphicon glyphicon-th-list"></span> @Domain.message("web.application.layout.sidebar.datasets")</a></li>
					<li><a href="@routes.DataSources.list()"><span class="glyphicon glyphicon-hdd"></span> @Domain.message("web.application.layout.sidebar.sourcedatasets")</a></li>
					
					<li style="padding:5px 13px">
						<span style="font-weight:bold;font-size:15px">
							Servicebeheer
						</span>
					</li>
					<li><a href="@routes.Layers.list()"><span class="glyphicon glyphicon-hdd"></span> @Domain.message("web.application.layout.sidebar.layers") </a></li>
					<li><a href="@routes.Groups.list()"><span class="glyphicon glyphicon-hdd"></span> @Domain.message("web.application.layout.sidebar.groups") </a></li>
					<li><a href="@routes.Styles.list()"><span class="glyphicon glyphicon-hdd"></span> @Domain.message("web.application.layout.sidebar.styles") </a></li>
					<li style="padding:5px 13px">
						<span style="font-weight:bold;font-size:15px">
							Logging
						</span>
					</li>
					
					<li>
						<a data-target="#logging-menu" data-toggle="collapse" href="#"><span class="glyphicon glyphicon-stats"></span> @Domain.message("web.application.layout.sidebar.log") <span class="caret"></span></a>
						<ul id="logging-menu" class="collapse nav nav-second-level">
							@* <li><a href="@routes.Logging.tasks()">@Domain.message("web.application.layout.sidebar.log.tasks")</a></li> *@
							<li><a href="@routes.Logging.messages()">@Domain.message("web.application.layout.sidebar.log.errors")</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		
		<div id="notification-container">
		</div>
		
		<div id="page-wrapper">
			
			@* Show flash message: *@
			@doFlash("success")
			@doFlash("info")
			@doFlash("warning")
			@doFlash("danger")
			
			@content
		</div>
	</div>
}
	