@import nl.idgis.publisher.domain.web._ 
@import nl.idgis.publisher.domain.web.tree._ 
@import nl.idgis.publisher.domain.response._

@(groupForm: Form[controllers.Groups.GroupForm], 
	create: Boolean,
	groups: Page[nl.idgis.publisher.domain.web.LayerGroup],
	layers: Page[nl.idgis.publisher.domain.web.Layer],
	groupLayer: GroupLayer,
	previewUrl: String
)

@implicitField = @{ helper.FieldConstructor(helper.bootstrap.bootstrapFieldConstructor.f) }

@layout.application( 
	title="Groep toevoegen: "+ "naam",
	jsMain = routes.Assets.at("js/groups/form.js").url,
	docPath = "groups/form"
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.groups.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.groups.form.header.edit", groupForm("name").value) </h1>
	}

	@helper.formerrors(groupForm, Domain.message("web.application.page.groups.name").toLowerCase())	

	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Groups.submitCreateUpdate()">
				<input type="hidden" class="form-control" id="input-id" name="id" value="@groupForm("id").value" >
				@if(create) {
					@helper.inputText(
						groupForm("name"),
						'_label -> Domain.message("web.application.page.groups.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'placeholder -> Domain.message("web.application.page.groups.form.field.name.placeholder"),
						'_help -> Domain.message("web.application.page.groups.form.field.name.help"),
						'_required -> true
					)
				} else {
					@helper.inputText(
						groupForm("name"),
						'_label -> Domain.message("web.application.page.groups.form.field.name.label"),
						'id -> "input-name",
						'class -> "form-control",
						'_help -> Domain.message("web.application.page.groups.form.field.name.help"),
						'readonly -> "readonly"
					)
				}
				@helper.inputText(
					groupForm("title"),
					'_label -> Domain.message("web.application.page.groups.form.field.title.label"),
					'id -> "input-title",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.groups.form.field.title.placeholder"),
					'_help -> Domain.message("web.application.page.groups.form.field.title.help")
				)
				@helper.textarea(
					groupForm("abstractText"),
					'_label -> Domain.message("web.application.page.groups.form.field.abstract.label"),
					'id -> "input-abstractText",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.groups.form.field.abstract.placeholder"),
					'_help -> Domain.message("web.application.page.groups.form.field.abstract.help")
				)
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-published">@Domain.message("web.application.page.groups.form.field.publish.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm checkbox-fix">
							<input type="checkbox" id="input-published" name="published" value="true"  @if("true".equals (groupForm("published").value)){checked}> 
						</div>
						@helper.fielderrors(groupForm("publish").errors)
					</div>
					@helper.tooltips("web.application.page.groups.form.field.publish.help")
				</div>
				
				@helper.groupStructure(layers, groups, groupLayer, groupForm("structure").errors)
				
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.groups.form.field.services.label")</label>
					<div class="col-sm-8">
					</div>
				</div>
											
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-enable">@Domain.message("web.application.page.tiledlayers.form.field.enabled.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm checkbox-fix">
							<input type="checkbox" id="input-enable" name="enabled" value="true" @if("true".equals(groupForm("enabled").value)){checked}>
						</div>
						@helper.fielderrors(groupForm("enabled").errors)
					</div>
					@helper.tooltips("web.application.page.tiledlayers.form.field.enabled.help")
				</div>
				<div id="js-tiled-form">
					@tiledlayers.tiledLayerBody(groupForm);
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Groups.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
						@helper.preview(previewUrl)
						<a class="btn btn-success" disabled="disabled">
							@Domain.message("web.application.button.tilingproperties")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}