@(groupForm: Form[controllers.Groups.GroupForm], create: Boolean)

@import nl.idgis.publisher.domain.web._ 
@layout.application( 
	title="Groep toevoegen: "+ "naam",
	jsMain = routes.Assets.at("js/groups/form.js").url
){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.groups.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.groups.form.header.edit", groupForm("name").value) </h1>
	}

	@helper.formerrors(groupForm, Domain.message("web.application.page.groups.name").toLowerCase())	

	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Groups.submitCreateUpdate()">
				<input type="hidden" class="form-control" id="input-id" name="id" value="@groupForm("id").value" >
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-name">@Domain.message("web.application.page.groups.form.field.name.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-name" name="name" placeholder="@Domain.message("web.application.page.groups.form.field.name.placeholder")" value="@groupForm("name").value" @if(!create){readonly}>
						@helper.fielderrors(groupForm("name").errors)
						<span class="help-block">@Domain.message("web.application.page.groups.form.field.name.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-title">@Domain.message("web.application.page.groups.form.field.title.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-title" name="title" placeholder="@Domain.message("web.application.page.groups.form.field.title.placeholder")" value="@groupForm("title").value">
						@helper.fielderrors(groupForm("title").errors)
						<span class="help-block">@Domain.message("web.application.page.groups.form.field.title.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-abstractText">@Domain.message("web.application.page.groups.form.field.abstract.label")</label>
					<div class="col-lg-8">
						<textarea class="form-control" id="input-abstractText" name="abstractText" placeholder="@Domain.message("web.application.page.groups.form.field.abstract.placeholder")" value="@groupForm("abstractText").value" rows="4"></textarea>
						@helper.fielderrors(groupForm("abstractText").errors)
						<span class="help-block">@Domain.message("web.application.page.groups.form.field.abstract.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-publish">@Domain.message("web.application.page.groups.form.field.publish.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-publish" name="publish" value="@groupForm("publish").value">
						</div>
						@helper.fielderrors(groupForm("publish").errors)
						<span class="help-block">@Domain.message("web.application.page.groups.form.field.publish.help")</span>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.groups.form.field.structure.label")</label>
					<div class="col-sm-8">
						<div class="list-group" id="groepstructuur" style="position: relative;">
							
						</div>
						
						<select id="addgroup">
							<option selected disabled>@Domain.message("web.application.page.groups.form.field.addgroup.button")</option>
							<option value="G2">Group 2</option>
							<option value="G3">Group 3</option>
						</select>
						
						<select id="addlayer">
							<option selected disabled>@Domain.message("web.application.page.groups.form.field.addlayer.button")</option>
							<option value="L3">Laag 3</option>
							<option value="L4">Laag 4</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.groups.form.field.services.label")</label>
					<div class="col-sm-8">
					</div>
				</div>
											
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Groups.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
						<a class="btn btn-success">
							@Domain.message("web.application.button.preview")
						</a>
						<a class="btn btn-success">
							@Domain.message("web.application.button.tilingproperties")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}