@(dataSources: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.DataSource],
	notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification],
	tasks: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ActiveTask],
	errors: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue]
)

@import org.joda.time.LocalDateTime
@import nl.idgis.publisher.domain.web.MessageContext

@layout.application(
	title = Domain.message("web.application.title"),
	jsMain = routes.Assets.at("js/dashboard/main.js").url,
	docPath = "dashboard"
) {
	@* TITLE AND CLIENT LOGO *@
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-8">
				<h1> @Domain.message("web.application.title")</h1>
			</div>
			<div class="col-lg-4">
				<div class="well">
					<a href="http://www.overijssel.nl">
						<img class="img-responsive" alt="Overijssel" src="@routes.Assets.at("images/logo-overijssel.png")">
					</a>
				</div>
			</div>
		</div>
	</div>

	@* INFO PANELS *@
	<div class="page-content">
		<div class="row">
			@* DATASOURCES *@
			<div class="col-lg-4">
				@helper.dataSources(dataSources)
			</div>

			@* NOTIFICATIONS *@
			<div class="col-lg-4" id="dashboard-panel-notifications">
				@helper.notifications(notifications)
			</div>

			@* ACTIVE TASKS *@
			<div class="col-lg-4" id="dashboard-panel-active-tasks">
				@helper.activeTasks(tasks)
			</div>

			@* ERRORS
			<div class="col-lg-3" id="dashboard-panel-issues">
				@helper.issues(errors)
			</div>
			*@
		</div>
	</div>

	@* VERSION AND IDGIS LOGO *@
	<footer class="container">
		<div class="row">
			<div class="col-lg-10">
				@Domain.message("web.application.name")
			</div>
			<div class="col-lg-2">
				<div class="img-container">
					<a href="http://www.idgis.nl">
						<img class="img-responsive" alt="IDgis" src="@routes.Assets.at("images/logo-idgis-large.png")">
					</a>
				</div>
			</div>
		</div>
	</footer>
}
