@(dataSources: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.DataSource],
	notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification],
	tasks: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ActiveTask],
	errors: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue]
)

@import org.joda.time.LocalDateTime
@import nl.idgis.publisher.domain.web.MessageContext

@dateTimeToMessage(date: LocalDateTime) = {
	1 dag geleden
}


@layout.application(title = "GIS publicatieomgeving", jsMain = routes.Assets.at("js/dashboard/main.js").url) {

	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-8">
				<h1>GIS publicatieomgeving</h1>
			</div>
			<div class="col-lg-4">
				<div class="well">
					<a href="http://www.overijssel.nl">
						<img class="img-responsive" alt="Overijssel" src="@routes.Assets.at("images/logo-overijssel.png")">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="row">
			<!-- DATASOURCES -->
			<div class="col-lg-3">
				@if(dataSources.values.size == 0){
					<div class="panel panel-warning">
				}else{
					<div class="panel panel-success">
				}
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4">
								<p class="announcement-heading">
									<span class="glyphicon glyphicon-cloud"></span>
								</p>
							</div>
							<div class="col-xs-8 text-right">
								<p class="announcement-heading">
									@if(dataSources.values.isEmpty) {
										geen
									} else {
										@dataSources.values.size
									}
								</p>
								<p class="announcement-text">
									Actieve gegevensbron@if(dataSources.values.size != 1){nen}
								</p>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@for(dataSource <- dataSources.values) {
							<li class="list-group-item">
								<div>
									<strong>@dataSource.name</strong>
								</div>
								<div>
									@helper.status(dataSource.status)
								</div>
							</li>
						}
					</ul>
					<a href="@routes.DataSources.list()">
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-10">
									Bekijk status
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-circle-arrow-right"></span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
					
			<!-- NOTIFICATIONS -->
			<div class="col-lg-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<p class="announcement-heading">
									<span class="glyphicon glyphicon-bell"></span>
								</p>
							</div>
							<div class="col-xs-6 text-right">
								<p class="announcement-heading">
									@if(notifications.values.isEmpty) {
										geen
									} else {
										@notifications.values.size
									}
								</p>
								<p class="announcement-text">
									Melding@if(notifications.values.size != 1){en}
								</p>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@for(notification <- notifications.values) {
							<li class="list-group-item">
								<a href="#">
									 
								</a>
							</li>
						}
					</ul>
					<a href="@routes.Datasets.listWithMessages()">
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-10">
									Alle datatasets met meldingen
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-circle-arrow-right"></span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<!-- ACTIVE TASKS -->
			<div class="col-lg-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<p class="announcement-heading">
									<span class="glyphicon glyphicon-tasks"></span>
								</p>
							</div>
							<div class="col-xs-6 text-right">
								<p class="announcement-heading">
									@if(tasks.values.isEmpty) {
										geen
									} else {
										@tasks.values.size
									}
								</p>
								<p class="announcement-text">
									Actieve @if(tasks.values.size != 1){taken}else{taak}
								</p>
							</div>
						</div>
					</div>
					@helper.activeTasks(tasks)
					<a href="#">
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-10">
									Bekijk logboek
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-circle-arrow-right"></span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<!-- ERRORS  -->
			<div class="col-lg-3">
				<div class="panel @if(errors.values.isEmpty){panel-success}else{panel-danger}">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4">
								<p class="announcement-heading">
									<span class="glyphicon glyphicon-warning-sign"></span>
								</p>
							</div>
							<div class="col-xs-8 text-right">
								<p class="announcement-heading">
									@if(errors.values.isEmpty) {
										geen
									} else {
										@if(errors.hasMorePages){&gt; }@errors.values.size
									}
								</p>
								<p class="announcement-text">
									Nieuwe foutmelding@if(errors.values.size != 1){en}
								</p>
								
							</div>
						</div>
					</div>
					<ul class="list-group">
						@for(error <- errors.values) {
							<li class="list-group-item">
								@helper.issue(error)
							@*
							<div>
								<p>
									<strong>@Domain.message(error.message)</strong>									
								</p>
							</div>
							*@
							</li>
						}
					</ul>
					<a href="@routes.Logging.messages()">
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-10">
									Bekijk foutlogboek
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-circle-arrow-right"></span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<footer class="container">
		<div class="row">
			<div class="col-lg-10">
				GEO Publisher @publisher.BuildInfo.version
			</div>
			<div class="col-lg-2">
				<div class="img-container">
					<a href="http://www.idgis.nl">
						<img class="img-responsive" alt="IDgis" src="@routes.Assets.at("images/logo-idgis-large.png")">
					</a>
				</div>
			</div>
		</div>
	</footer>
}
