@(dataSources: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.DataSource],
	notifications: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Notification],
	tasks: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.ActiveTask],
	errors: nl.idgis.publisher.domain.response.Page[nl.idgis.publisher.domain.web.Issue]
)

@import org.joda.time.LocalDateTime
@import nl.idgis.publisher.domain.web.MessageContext


@layout.application(
	title = Domain.message("web.application.title"), 
	jsMain = routes.Assets.at("js/dashboard/main.js").url,
	docPath = "dashboard"
) {

	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-8">
				<h1> @Domain.message("web.application.title")</h1>
			</div>
			<div class="col-lg-4">
				<div class="well">
					<a href="http://www.overijssel.nl">
						<img class="img-responsive" alt="Overijssel" src="@routes.Assets.at("images/logo-overijssel.png")">
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="row">
			@* DATASOURCES *@
			<div class="col-lg-3">
				@if(dataSources.values.size == 0){
					<div class="panel panel-warning">
				}else{
					<div class="panel panel-success">
				}
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4">
								<p class="announcement-heading">
									<span class="glyphicon glyphicon-cloud"></span>
								</p>
							</div>
							<div class="col-xs-8 text-right">
								<p class="announcement-heading">
									@if(dataSources.values.isEmpty) {
										@Domain.message("web.application.none")
									} else {
										@dataSources.values.size
									}
								</p>
								<p class="announcement-text">
								@if(dataSources.values.size != 1){
								  	@Domain.message("web.application.page.dashboard.panel.datassources")
								}else{
									@Domain.message("web.application.page.dashboard.panel.datassource")
								}
								</p>
							</div>
						</div>
					</div>
					<ul class="list-group">
						@for(dataSource <- dataSources.values) {
							<li class="list-group-item">
								<div>
									<strong>@dataSource.name</strong>
								</div>
								<div>
									@helper.status(dataSource.status)
								</div>
							</li>
						}
					</ul>
					<a href="@routes.DataSources.list()">
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-10">
									@Domain.message("web.application.page.dashboard.panel.datassources.status")
								</div>
								<div class="col-xs-2 text-right">
									<span class="glyphicon glyphicon-circle-arrow-right"></span>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
					
			@* NOTIFICATIONS *@
			<div class="col-lg-3" id="dashboard-panel-notifications">
				@helper.notifications(notifications)
			</div>
			
			@* ACTIVE TASKS *@
			<div class="col-lg-3" id="dashboard-panel-active-tasks">
				@helper.activeTasks(tasks)
			</div>
			
			@* ERRORS  *@
			<div class="col-lg-3" id="dashboard-panel-issues">
				@helper.issues(errors)
			</div>
		</div>
	</div>
	
	<footer class="container">
		<div class="row">
			<div class="col-lg-10">
				@Domain.message("web.application.name") @publisher.BuildInfo.version
			</div>
			<div class="col-lg-2">
				<div class="img-container">
					<a href="http://www.idgis.nl">
						<img class="img-responsive" alt="IDgis" src="@routes.Assets.at("images/logo-idgis-large.png")">
					</a>
				</div>
			</div>
		</div>
	</footer>
}
