@(form: Form[controllers.User.Login])

@layout.applicationCentered(Domain.message("web.application.login")) {

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span>  @Domain.message("web.application.title")</a>
			</div>
		</div>
	</nav>

	<div class="panel panel-default panel-centered">
		<div class="panel-heading">
			<h3 class="panel-title">@Domain.message("web.application.login")</h3>
		</div>
		<div class="panel-body">
		
			@if(form.hasGlobalErrors) {
				<div class="alert alert-danger">
					<strong>@Domain.message("web.application.login.failed")</strong> @form.globalError.message
				</div>
			}
			
			<form role="form" method="POST" action="@routes.User.authenticate()">
				<input type="hidden" name="returnUrl" value="@form("returnUrl").value">
				<fieldset>
					<div class="form-group">
						<input class="form-control" type="email" autofocus name="username" placeholder="@Domain.message("web.application.login.placeholder.user")" value="@form("username").value">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password" placeholder="@Domain.message("web.application.login.placeholder.password")">
					</div>
					<button class="btn btn-lg btn-success btn-block" href="@routes.Dashboard.index()" type="submit">@Domain.message("web.application.login.button")</button>
				</fieldset>
			</form>
		</div>
	</div>
}