@(tiledlayerForm: Form[controllers.Tiledlayers.TiledLayerForm], create: Boolean)

@import nl.idgis.publisher.domain.web._ 
@layout.application( title=Domain.message("web.application.page.tiledlayers.form.title")){

<div class="page-content">
	@if(create){
		<h1 class="page-header">@Domain.message("web.application.page.tiledlayers.form.header.new")</h1>
	}else{
		<h1 class="page-header">@Domain.message("web.application.page.tiledlayers.form.header.edit", tiledlayerForm("name").value) </h1>
	}

	@helper.formerrors(tiledlayerForm, Domain.message("web.application.page.tiledlayers.name").toLowerCase())	

	
	<div class="row">
		<div class="col-lg-12">
			<form class="form-horizontal" method="post" action="@routes.Tiledlayers.submitCreateUpdate()">
				<input type="hidden" class="form-control" id="input-id" name="id" value="@tiledlayerForm("id").value" >
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-enable">@Domain.message("web.application.page.tiledlayers.form.field.enabled.label")</label>
					<div class="col-lg-8">
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-enable" name="enabled" value="true" @if(tiledlayerForm("enabled").value.equals("true")){checked}>
						</div>
						@helper.fielderrors(tiledlayerForm("enabled").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.enabled.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.tiledlayers.form.field.formats.label")</label>
					<div class="col-sm-5">
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-png" name="png" value="true" @if(tiledlayerForm("png").value.equals("true")){checked}>
						</div>
							<span>@Domain.message("web.application.page.tiledlayers.form.field.png.label")</span>
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-png8" name="png8" value="true" @if(tiledlayerForm("png8").value.equals("true")){checked}>
						</div>
							<span>@Domain.message("web.application.page.tiledlayers.form.field.png8.label")</span>
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-jpg" name="jpg" value="true" @if(tiledlayerForm("jpg").value.equals("true")){checked}>
						</div>
							<span>@Domain.message("web.application.page.tiledlayers.form.field.jpg.label")</span>
						<div class="input-group input-group-sm">
							<input type="checkbox" class="form-control" id="input-gif" name="gif" value="true" @if(tiledlayerForm("gif").value.equals("true")){checked}>
						</div>
							<span>@Domain.message("web.application.page.tiledlayers.form.field.gif.label")</span>
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.formats.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-metatilingwidth">@Domain.message("web.application.page.tiledlayers.form.field.metatilingwidth.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-metatilingwidth" name="metaWidth" placeholder="@Domain.message("web.application.page.groups.form.field.metatilingwidth.placeholder")" value="@tiledlayerForm("metaWidth").value">
						@helper.fielderrors(tiledlayerForm("metaWidth").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.metatilingwidth.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-metatilingheight">@Domain.message("web.application.page.tiledlayers.form.field.metatilingheight.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-metatilingheight" name="metaHeight" placeholder="@Domain.message("web.application.page.groups.form.field.metatilingheight.placeholder")" value="@tiledlayerForm("metaHeight").value">
						@helper.fielderrors(tiledlayerForm("metaHeight").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.metatilingheight.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-servercache">@Domain.message("web.application.page.tiledlayers.form.field.servercache.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-servercache" name="expireCache" value="@tiledlayerForm("expireCache").value">
						@helper.fielderrors(tiledlayerForm("expireCache").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.servercache.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-clientcache">@Domain.message("web.application.page.tiledlayers.form.field.clientcache.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-clientcache" name="expireClients" value="@tiledlayerForm("expireClients").value">
						@helper.fielderrors(tiledlayerForm("expireClients").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.clientcache.help")</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-gutter">@Domain.message("web.application.page.tiledlayers.form.field.gutter.label")</label>
					<div class="col-lg-8">
						<input class="form-control" id="input-gutter" name="gutter" value="@tiledlayerForm("gutter").value">
						@helper.fielderrors(tiledlayerForm("gutter").errors)
						<span class="help-block">@Domain.message("web.application.page.tiledlayers.form.field.gutter.help")</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-success" type="submit">@Domain.message("web.application.button.save")</button>
						<a href="@routes.Tiledlayers.list()" 
							class="btn btn-success"> @Domain.message("web.application.button.cancel")
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
}