@(tiledlayerForm: Form[_ <: controllers.TiledLayerForm])

@implicitField = @{ helper.FieldConstructor(helper.bootstrap.bootstrapFieldConstructor.f) }

@import nl.idgis.publisher.domain.web._ 

				<div class="form-group">
					<label class="col-sm-2 control-label">@Domain.message("web.application.page.tiledlayers.form.field.formats.label")</label>
					<div class="col-sm-8 mimeformats-box">
						<div class="input-group input-group-xs">
							<input type="checkbox" id="input-png" name="png" value="true" @if("true".equals(tiledlayerForm("png").value)){checked}>&nbsp;@Domain.message("web.application.page.tiledlayers.form.field.formats.png.label")
						</div>
						<div class="input-group input-group-xs">
							<input type="checkbox" id="input-png8" name="png8" value="true" @if("true".equals(tiledlayerForm("png8").value)){checked}>&nbsp;@Domain.message("web.application.page.tiledlayers.form.field.formats.png8.label")
						</div>
						<div class="input-group input-group-xs">
							<input type="checkbox" id="input-jpg" name="jpg" value="true" @if("true".equals(tiledlayerForm("jpg").value)){checked}>&nbsp;@Domain.message("web.application.page.tiledlayers.form.field.formats.jpg.label")
						</div>
						<div class="input-group input-group-xs">
							<input type="checkbox" id="input-gif" name="gif" value="true" @if("true".equals(tiledlayerForm("gif").value)){checked}>&nbsp;@Domain.message("web.application.page.tiledlayers.form.field.formats.gif.label")
						</div>
					</div>
					@helper.tooltips("web.application.page.tiledlayers.form.field.formats.help")
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-metaWidth">@Domain.message("web.application.page.tiledlayers.form.field.metatilingwidth.label")</label>
					<div class="col-lg-9">
						<div class="input-group">
							<select class="form-control" id="input-metaWidth" name="metaWidth">
								<option value="1" @if(tiledlayerForm("metaWidth").value == "1"){selected}>1</option>
								<option value="2" @if(tiledlayerForm("metaWidth").value == "2"){selected}>2</option>
								<option value="3" @if(tiledlayerForm("metaWidth").value == "3"){selected}>3</option>
								<option value="4" @if(tiledlayerForm("metaWidth").value == "4"){selected}>4</option>
								<option value="5" @if(tiledlayerForm("metaWidth").value == "5"){selected}>5</option>
								<option value="6" @if(tiledlayerForm("metaWidth").value == "6"){selected}>6</option>
								<option value="7" @if(tiledlayerForm("metaWidth").value == "7"){selected}>7</option>
								<option value="8" @if(tiledlayerForm("metaWidth").value == "8"){selected}>8</option>
								<option value="9" @if(tiledlayerForm("metaWidth").value == "9"){selected}>9</option>
								<option value="10" @if(tiledlayerForm("metaWidth").value == "10"){selected}>10</option>
								<option value="11" @if(tiledlayerForm("metaWidth").value == "11"){selected}>11</option>
								<option value="12" @if(tiledlayerForm("metaWidth").value == "12"){selected}>12</option>
								<option value="13" @if(tiledlayerForm("metaWidth").value == "13"){selected}>13</option>
								<option value="14" @if(tiledlayerForm("metaWidth").value == "14"){selected}>14</option>
								<option value="15" @if(tiledlayerForm("metaWidth").value == "15"){selected}>15</option>
								<option value="16" @if(tiledlayerForm("metaWidth").value == "16"){selected}>16</option>
								<option value="17" @if(tiledlayerForm("metaWidth").value == "17"){selected}>17</option>
								<option value="18" @if(tiledlayerForm("metaWidth").value == "18"){selected}>18</option>
								<option value="19" @if(tiledlayerForm("metaWidth").value == "19"){selected}>19</option>
								<option value="20" @if(tiledlayerForm("metaWidth").value == "20"){selected}>20</option>
							</select>
							@helper.helpFormAddon(Domain.message("web.application.page.tiledlayers.form.field.metatilingwidth.help"))
						</div>
						@helper.fielderrors(tiledlayerForm("metaWidth").errors)
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-metaHeight">@Domain.message("web.application.page.tiledlayers.form.field.metatilingheight.label")</label>
					<div class="col-lg-9">
						<div class="input-group">
							<select class="form-control" id="input-metaHeight" name="metaHeight">
								<option value="1" @if(tiledlayerForm("metaHeight").value == "1"){selected}>1</option>
								<option value="2" @if(tiledlayerForm("metaHeight").value == "2"){selected}>2</option>
								<option value="3" @if(tiledlayerForm("metaHeight").value == "3"){selected}>3</option>
								<option value="4" @if(tiledlayerForm("metaHeight").value == "4"){selected}>4</option>
								<option value="5" @if(tiledlayerForm("metaHeight").value == "5"){selected}>5</option>
								<option value="6" @if(tiledlayerForm("metaHeight").value == "6"){selected}>6</option>
								<option value="7" @if(tiledlayerForm("metaHeight").value == "7"){selected}>7</option>
								<option value="8" @if(tiledlayerForm("metaHeight").value == "8"){selected}>8</option>
								<option value="9" @if(tiledlayerForm("metaHeight").value == "9"){selected}>9</option>
								<option value="10" @if(tiledlayerForm("metaHeight").value == "10"){selected}>10</option>
								<option value="11" @if(tiledlayerForm("metaHeight").value == "11"){selected}>11</option>
								<option value="12" @if(tiledlayerForm("metaHeight").value == "12"){selected}>12</option>
								<option value="13" @if(tiledlayerForm("metaHeight").value == "13"){selected}>13</option>
								<option value="14" @if(tiledlayerForm("metaHeight").value == "14"){selected}>14</option>
								<option value="15" @if(tiledlayerForm("metaHeight").value == "15"){selected}>15</option>
								<option value="16" @if(tiledlayerForm("metaHeight").value == "16"){selected}>16</option>
								<option value="17" @if(tiledlayerForm("metaHeight").value == "17"){selected}>17</option>
								<option value="18" @if(tiledlayerForm("metaHeight").value == "18"){selected}>18</option>
								<option value="19" @if(tiledlayerForm("metaHeight").value == "19"){selected}>19</option>
								<option value="20" @if(tiledlayerForm("metaHeight").value == "20"){selected}>20</option>
							</select>
							@helper.helpFormAddon(Domain.message("web.application.page.tiledlayers.form.field.metatilingheight.help"))
						</div>
						@helper.fielderrors(tiledlayerForm("metaHeight").errors)
					</div>
				</div>
				@helper.inputText(
					tiledlayerForm("expireCache"),
					'_label -> Domain.message("web.application.page.tiledlayers.form.field.servercache.label"),
					'id -> "input-servercache",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.tiledlayers.form.field.servercache.placeholder"), 
					'_help -> Domain.message("web.application.page.tiledlayers.form.field.servercache.help"),
					'_required -> true
				)
				@helper.inputText(
					tiledlayerForm("expireClients"),
					'_label -> Domain.message("web.application.page.tiledlayers.form.field.clientcache.label"),
					'id -> "input-clientcache",
					'class -> "form-control",
					'placeholder -> Domain.message("web.application.page.tiledlayers.form.field.clientcache.placeholder"),
					'_help -> Domain.message("web.application.page.tiledlayers.form.field.clientcache.help"),
					'_required -> true
				)
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-gutter">@Domain.message("web.application.page.tiledlayers.form.field.gutter.label")</label>
					<div class="col-lg-9">
						<div class="input-group">
							<select class="form-control" id="input-gutter" name="gutter">
								<option value="0" @if(tiledlayerForm("gutter").value == "0"){selected}>0</option>
								<option value="1" @if(tiledlayerForm("gutter").value == "1"){selected}>1</option>
								<option value="2" @if(tiledlayerForm("gutter").value == "2"){selected}>2</option>
								<option value="3" @if(tiledlayerForm("gutter").value == "3"){selected}>3</option>
								<option value="4" @if(tiledlayerForm("gutter").value == "4"){selected}>4</option>
								<option value="5" @if(tiledlayerForm("gutter").value == "5"){selected}>5</option>
								<option value="6" @if(tiledlayerForm("gutter").value == "6"){selected}>6</option>
								<option value="7" @if(tiledlayerForm("gutter").value == "7"){selected}>7</option>
								<option value="8" @if(tiledlayerForm("gutter").value == "8"){selected}>8</option>
								<option value="9" @if(tiledlayerForm("gutter").value == "9"){selected}>9</option>
								<option value="10" @if(tiledlayerForm("gutter").value == "10"){selected}>10</option>
								<option value="15" @if(tiledlayerForm("gutter").value == "15"){selected}>15</option>
								<option value="20" @if(tiledlayerForm("gutter").value == "20"){selected}>20</option>
								<option value="50" @if(tiledlayerForm("gutter").value == "50"){selected}>50</option>
								<option value="100" @if(tiledlayerForm("gutter").value == "100"){selected}>100</option>
							</select>
							@helper.helpFormAddon(Domain.message("web.application.page.tiledlayers.form.field.gutter.help"))
						</div>
						@helper.fielderrors(tiledlayerForm("gutter").errors)
					</div>
				</div>
